﻿ @media print {
    body * {
       /* visibility:hidden;*/
    }
	.topmenu, .imglogo, .tag_page, .pay-site, .payment-print-button, .foot{
		display:none;
		visibility:hidden;
	}

    #dvContainer, #dvContainer * {
        visibility:visible;
    }
}