.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            }

                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                }

                .cta-desc{
                    padding: 0;
                }

                .cta-desc p:last-child{
                    margin-bottom: 0;
                }

            .cta-button{
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 50px;
            }

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position: relative;
        }

        .cta-contents{
            text-align: center;
        }
}



.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 15px;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
}

.ex-pay-title-four {
    width: 1246px;
    /*height: 68px;*/
    float: left;
}
.ex-pay-title-four h1 {
    font-family: 'circularregular';
    font-size: 35px;
    font-weight: bold;
    color: #333;
    line-height: 30px;
    margin-top: 8px;
}
.ex-pay-title-four p {
    font-family: 'circularregular';
    font-size: 20px;
    color: #333;
    line-height: 20px;
}


.ex-botton-next-four {
    width: 167px;
    height: 30px;
    border: 1px solid #244385;
    border-radius: 6px;
    cursor: pointer;
    float: right;
    }/*background: #476bb2; *//* Old browsers *//*background: -moz-linear-gradient(top,  #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#476bb2), color-stop(56%,#476bb2), color-stop(56%,#476bb2), color-stop(56%,#244385), color-stop(100%,#244385)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476bb2', endColorstr='#244385',GradientType=0 ); /* IE6-9 */
    /*}*/
    .ex-botton-next-four p {
        font-family: 'circularregular';
        font-size: 20px;;
        color: #fff;
        white-space: nowrap;
        margin: 8px 0 0 0;
    }

.bottonregis2, .ex-botton-next-four {background: #6580b5; /* Old browsers */
    background: -moz-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #4264a1), color-stop(100%, #4264a1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#4264a1', GradientType=0 ); /* IE6-9 */}



    .ex-pay-title {
        width: 1246px;
        /*height: 68px;*/
        float: left;
    }
    .ex-pay-title p {
        font-family: 'circularregular';
        font-size: 30px;
        font-weight: bold;
        color: #a98b4a;
        line-height: 50px;
    }
    .ex-pay-body {
        width: 1246px;
        height: 223px;
        border-bottom: 1px solid #dcdcdc;
        float: left;
    }
    .ex-pay-body1 {
        /*width: 414px;*/
        padding:15px;
        width:384px;
        height: 200px;
        border-right: 1px solid #dcdcdc;
        margin: 11.5px 0;
        float: left;
    }

    .ex-pay-area {
        width: 1246px;
        /*height: 345px;*/
        border: 1px solid #dcdcdc;
        border-radius: 0px;
        margin: auto;
        margin-top: 18px;
        background: #ffffff;
        float: left;
    }

    .ex-bottonarea {
        width: 1248px;
        height: 33px;
        float: left;
        margin: 20px 0 0 0;
    }