@font-face {
	font-family: 'circularregular';
	src: url('../font/circular-webfont.eot');
	src: url('../font/circular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/circular-webfont.woff2') format('woff2'), url('../font/circular-webfont.woff') format('woff'), url('../font/circular-webfont.ttf') format('truetype'), url('../font/circular-webfont.svg#circularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body
{  font-family: "circularregular";}
.clr {
	clear: both;
}
/*---------FOOTER ----------*/
.foot {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #dcdcdc;
	overflow:auto;
}
.footer {
	/*width: 1280px;
	height: 106px;
	margin : auto;*/
}
.footer img {
	height: auto;
}
/*--------- INDEX ----------*/

.bgbody {
	width: 100%;
	height: 400px;
	/*background-image: url('../images/bg.png');*/
	background-image: url('../images/bg_01.png');
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1px auto 0;
	background-position:center top;
	padding-top:10px;
}
.bodylog {
	width: 1000px;
	overflow:auto;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	background: #ffffff;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}
.logtitle {
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #dcdcdc;
	float: left;
}
.logtitletext {
	width: 165px;
	height: 36px;
	float: left;
	margin: 15 0 15 55px;
}
.logtitletext p {
	font-family: 'circularregular';
	font-size: 36px;
	font-weight: bold;
	color: #2e2d7b;
	line-height: 40px;
	white-space: nowrap;
}
.logleft {
	width: 500px;
	border-right: 1px solid #dcdcdc;
	overflow:auto;
}
.logleftsub {
	width: 450px;
	margin: 0 0 0 50px;
}
.loglefttext1 {
	margin: 23px 0 0 0;
}
.loglefttext1 p {
	font-family: 'circularregular';
	font-size: 30px;
	font-weight: bold;
	color: #29b3e2;
	line-height: 30px;
	white-space: nowrap;
}
.loglefttext2 {
	width: 496px;
	height: 41px;
	margin: 10px 0 0 0;
	float: left;
}
.loglefttext2 p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	line-height: 23px;
	white-space: nowrap;
}
.bottonarea {
	margin-top: 30px;
}
.bottonarealeft {
	width: 215px;
	float: left;
	border-right: 1px solid #dcdcdc;
	padding-bottom:15px;
}
.bottonarealeft img {
	width: 50px;
	height: 65px;
	margin: 40px 75px 20;
}
.bottonarearight {
	width: 218px;
	height: 175px;
	float: left;
}
.bottonarearight img {
	width: 73px;
	height: 75px;
	margin: 34px 75px 16px;
}
.bottonregis1 {
	padding:3px 15px;
	border: 1px solid #bebebe;
	border-radius: 6px;
	margin: 0 20px;
	background: linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede);
	cursor: pointer;
}
.bottonregis1:hover, .bottonregister:hover {
	background: linear-gradient(#f2f2f2, #ffffff, #c9c9cb, #e4e6e5, #fefefe);
}
.bottonregis1 p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	white-space: nowrap;
	text-align: center;
	margin-top: 8px;
}
.logright {
	width: 500px;
	height: 300px;
	float: right;
}
.logrightsub {
	margin-left: 50px;
}
.righttitle {
	width: 161px;
	margin: 23px 0 0 0;
}
.rightimg {
	width: 16px;
	float: left;
}
.righttitle1 {
	width: 133px;
	margin: 5px 0 0 11px;
	float: left;
}
.righttitle1 p {
	font-family: 'circularregular';
	font-size: 30px;
	font-weight: bold;
	color: #29b3e2;
	white-space: nowrap;
}
.rightextarea {
	width: 370px;
	float: left;
	margin: 18px 0 0 27px;
}
.righttext1 {
	width: 106px;
	height: 22px;
	float: left;
}
.righttext1 p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	white-space: nowrap;
}
.form1 input {
	width: 320px;
	height: 32px;
	font-family: 'circularregular';
	font-size: 20px;
	color: #383838;
}
.form1 img {
	width: 32px;
	height: 25px;
	float: right;
	margin-top: 5px;
}
.righttext2 {
	width: 48px;
	height: 22px;
	float: left;
	margin: 16px 0 0 0;
}
.righttext2 p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	white-space: nowrap;
}
.form2 input {
	width: 320px;
	height: 32px;
	font-family: 'circularregular';
	font-size: 20px;
	color: #383838;
}
.form2 img {
	width: 32px;
	height: 34px;
	float: right;
}
.fogotpass {
	width: 62px;
	height: 18px;
	float: left;
	margin: 29px 0 0;
	border-bottom: 1px solid #bebebe;
}
.fogotpass a {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	white-space: nowrap;
}
.bottonregis2, .se-botton-next {background: #6580b5; /* Old browsers */
	background: -moz-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #4264a1), color-stop(100%, #4264a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#4264a1', GradientType=0 ); /* IE6-9 */}
.bottonregis2{
	width: 167px;
	height: 30px;
	border: 1px solid #244385;
	border-radius: 6px;
	float: right;
	margin: 24px 15px 0;
	cursor: pointer;
	
}
.bottonregis-input{
	width: 167px;
	height: 30px;
	border-radius: 6px;
	float: right;
	margin: 24px 15px 0;
	cursor: pointer;
}

.bottonregis2:hover, .se-botton-next:hover {
	background: #6580b5; /* Old browsers */
	background: -moz-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #254487), color-stop(100%, #254487)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#254487', GradientType=0 ); /* IE6-9 */
}
.bottontext2 {
	width: 55px;
	height: 14px;
	margin: auto;
	margin-top: 8px;
}
input.bottontext2, 
input.se-botton-next {
	font-family: "circularregular";
	font-size: 20px;
	color: #FFF;
	white-space: nowrap;
}

.bottontext2 p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #fff;
	white-space: nowrap;
}
/*-------- REGISTER ----------*/
table.form tbody tr td{
	padding:2px;
	}
.bodyregis {
	width: 1280px;
	/*height: 2476px;*/
	background: #f2f2f2;
	margin: 1px auto 0;
	padding:20px;
}
.navigator {
	width: 1248px;
	height: 15px;
	margin:13px 20px;
	float: left;
}
.navigator a {
	font-family: 'circularregular';
	font-size: 20px;
	color: #999999;
	float: left;
	white-space: nowrap;
}
.navigator p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	float: left;
	white-space: nowrap;
	line-height: 20px;
}
.regisbg1 {
	width: 1246px;
	height: 2181px;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	margin: 0 16px 0 16px;
	background: #ffffff;
	float: left;
}
.regisbg {
	width: 1246px;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	margin: 0 16px 0 16px;
	background: #ffffff;
}
.regisbg2 {
	width: 1244px;
	height: 128px;
	border: 2px solid #dcdcdc;
	border-radius: 10px;
	background: #ffffff;
	float: left;
	margin: 15px;
}
.regisaccept{
	width: 95.5%;
	border: 2px solid #dcdcdc;
	border-radius: 10px;
	background: #ffffff;
	text-align:center;
	margin: 15px 16px 0 16px;
	padding:10px;	
}
.regisaccept p{
	font-family: 'circularregular';
	font-size:22px!important;
}
.regisaccept a{
	color:#000;
	line-height:24px;
	text-decoration:underline;
}

.regisbg3 {
	width: 1246px;
	height: 35px;
	float: left;
	margin: 0 16px 55px 16px;
}
.regisbgbutton {
	width: 1246px;
	margin:20px 16px;
}
.retitle1 {
	width: 100%;
	border-bottom: 1px solid #dcdcdc;
	/*float: left;*/
}
.retitletext {
	margin: 15px 39px;
	font-family: 'circularregular';
	font-size: 36px;
	font-weight: bold;
	color: #a98b4a;
	line-height: 30px;
}
.retitletext p {
	font-family: 'circularregular';
	font-size: 36px;
	font-weight: bold;
	color: #a98b4a;
	line-height: 37px;
}
.regisarea {
	border-bottom: 1px solid #dcdcdc;
	/*float: left;*/
	padding: 20px 40px;
	width:93.5%;
}
.regisarea1 {
	width: 1246px;
	height: 493px;
	border-bottom: 1px solid #dcdcdc;
	float: left;
}
.regisarea2 {
	width: 1246px;
	height: 481px;
	border-bottom: 1px solid #dcdcdc;
	float: left;
}
.regisarea3 {
	width: 1246px;
	height: 625px;
	border-bottom: 1px solid #dcdcdc;
	float: left;
}
.regisarea4 {
	width: 1246px;
	height: 329px;
	border-bottom: 1px solid #dcdcdc;
	float: left;
}
.regisarea5 {
	width: 1246px;
	height: 127px;
	border-bottom: 1px solid #dcdcdc;
	float: left;
}
.regisarea6 {
	width: 354px;
	height: 100px;
	float: left;
	margin: 25px 0 0 39px;
}
.regisarea7 {
	width: 433px;
	height: 95px;
	margin: auto;
	margin-top: 14.5px;
	margin-bottom: 18.5px;
}
.regisarea8 {
	width: 378px;
	height: 43px;
	margin: 0 442px 0 442px;
}
.area1-colum1 {
	width: 352px;
	height: 450px;
	margin: 16px 28px 27px 39px;
	float: left;
}
.area1-colum1-1 {
	width: 352px;
	height: 95px;
	margin-top: 6px;
	float: left;
}
.area1-colum2 {
	width: 352px;
	height: 316px;
	margin: 113px 28px 33px 28px;
	float: left;
}
.area1-colum2-2 {
	width: 352px;
	height: 61px;
	margin: 27px 0 0 0;
	float: left;
}
.area1-colum3 {
	width: 352px;
	height: 130px;
	margin: 113px 28px 220px 28px;
	float: left;
}
.area2-colum1 {
	width: 352px;
	height: 415px;
	margin: 18px 28px 0 39px;
	float: left;
}
.area2-colum1-1 {
	width: 170px;
	height: 66px;
	float: left;
	margin: 1px 6px 0 0;
}
.area2-colum1-2 {
	width: 170px;
	height: 65px;
	float: left;
	margin: 1px 0 0 5px;
}
.area2-colum2 {
	width: 352px;
	height: 389px;
	margin: 48px 28px 0 39px;
	float: left;
}
.area2-colum3 {
	width: 352px;
	height: 194px;
	margin: 48px 28px 0 28px;
	float: right;
}
.area2-colum3-1 {
	width: 350px;
	height: 66px;
	margin: 0 0 43px 0;
	float: left;
}
.area2-colum3-2 {
	width: 350px;
	height: 66px;
	margin: 24px 0 0 0;
	float: left;
}
.area3-colum1 {
	width: 1179px;
	height: 40px;
	margin: 20px 28px 0 39px;
	float: left;
}
.area3-colum1-r1 {
	width: 1179px;
	height: 70px;
	margin: 20px 28px 0 39px;
	float: left;
}
.area3-colum1-1 {
	height: 24px;
	margin: 0 268px 0 0;
	float: left;
}
.area3-colum1-2 {
	height: 24px;
	float: left;
}
.area3-colum-check {
	width: 780px;
	height: 30px;
	margin-top: 6px;
	float: left;
}
.area3-check {
	width: 325px;
	height: 30px;
	margin-top: 15px;
	float: left;
}
.area3-colum3-1 {
	width: 352px;
	height: 270px;
	margin-top: 18px;
	float: left;
}
.area3-colum2 {
	width: 352px;
	height: 66px;
	margin: 66px 0 89px;
	float: left;
}
.area3-colum4 {
	width: 352px;
	height: 66px;
	margin: 66px 28px 40px 28px;
	float: left;
}
.area3-colum5 {
	width: 352px;
	height: 66px;
	margin: 50px 28px;
	float: left;
}
.area4-colum1 {
	width: 352px;
	height: 270px;
	margin: 16px 28px 43px 39px;
	float: left;
}
.area4-colum1-1 {
	width: 352px;
	height: 29px;
	margin: 15px 0 0 0;
	float: left;
}
.area4-colum1-2 {
	width: 170px;
	height: 66px;
	float: left;
	margin: 1px 6px 0 0;
}
.area2-colum1-3 {
	width: 170px;
	height: 65px;
	float: left;
	margin: 1px 0 0 5px;
}
.area4-colum2 {
	width: 352px;
	height: 174px;
	margin: 45px 28px 110px 39px;
	float: left;
}
.area4-colum2-2 {
	width: 352px;
	height: 60px;
	margin: 45px 0 0 0;
	float: left;
}
.area4-colum3 {
	width: 352px;
	height: 174px;
	margin: 45px 28px 110px 28px;
	float: left;
}
.area4-colum3-2 {
	width: 352px;
	height: 60px;
	margin: 110px 0 0 0;
	float: left;
}
.area5-colum1 {
	width: 352px;
	height: 55px;
	margin: 31px 28px 31px 39px;
	float: left;
}
.area6-colum1 {
	width: 352px;
	height: 55px;
	margin: 31px 28px 31px 39px;
	float: left;
}
.area7-colum1 {
	width: 146px;
	height: 24px;
	margin: 2px 147.5px 0 147.5px;
}
.area8-colum1 {
	width: 169px;
	height: 32px;
	margin: 0 10px;
	float: left;
}
.area8-colum2 {
	width: 169px;
	height: 32px;
	margin: 0 10px;
	float: left;
}
.colum-title {
	font-family: 'circularregular';
	font-size: 30px;
	font-weight: bold;
	color: #29b3e2;
}
.colum-title p {
	font-family: 'circularregular';
	font-size: 30px;
	font-weight: bold;
	color: #29b3e2;
	line-height: 33px;
	white-space: nowrap;
}
.colum-title2 {
	width: 148px;
	height: 29px;
	float: left;
	margin: 0 142.5px 2px 142.5px;
}
.colum-title2 p {
	font-family: 'circularregular';
	font-size: 30px;
	font-weight: bold;
	color: #29b3e2;
	line-height: 33px;
	white-space: nowrap;
}
.regis-checkarea {
	width: 350px;
	height: 35px;
	float: left;
}
.colum-mandatory {
	font-family: 'circularregular';
	font-size: 16px;
	color: #EA3131;
	font-weight: bold;
}
.colum-mandatory p {
	font-family: 'circularregular';
	font-size: 16px;
	color: #EA3131;
	white-space: nowrap;
	font-weight: bold;
	float: left;
}
table.form{
	font-family: 'circularregular';
	font-size: 20px;
	/*color: #000;*/
	line-height: 24px;
	margin-top:15px;
	margin-bottom:15px;
}
table.form.pinfo tbody tr td input, table.form.pinfo tbody tr td select{
	float:none!important;
	width:158px;
}
table.form tbody tr td input, table.form tbody tr td select{
	float:right;
	font-family: 'circularregular';
	font-size: 20px;
	/*color: #000;*/
	width:158px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer table.form tbody tr td select#select_university.required.regis_university{
	width:250px!important;
	}

table.form.pinfo tbody tr td input#title_th_text.othern{
	margin-top:5px;
	}
table.form tbody tr td div.radiob input, table.form tbody tr td div.notright input, table.form tbody tr td div.notright select, table.form tbody tr td div.tick input{
	float:none;
	opacity:1!important;
	width:auto!important;
	height:auto!important;
	}
table.form tbody tr td input#receipt_title_text.othern{
	width:146px!important;
	}
table.form tbody tr td div.notright input{
	width:153px!important;
	}
table.form tbody tr td div.radiob input{
	margin-right:3px;
	}
table.form tbody tr td div.radiob{
	/*float:left;*/
	width:auto!important;
	height:auto!important;
	}
.red{
	color:#F00;
	font-weight:bold;
}
.colum-fromtitle {
	height: 16px;
	float: left;
	margin: 15px 0 6px 0;
}
.colum-fromtitle p {
	font-family: 'circularregular';
	font-size: 20px;
	/*color: #000;*/
	line-height: 24px;
	white-space: nowrap;
}
.colum-fromtitle a {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	line-height: 24px;
	border-bottom: 2px solid #bebebe;
	white-space: nowrap;
}
.colum-fromtitle p>span {
	color: red;
	font-weight: bold;
}
.colum-fromtitle input {
	margin: 2px 6px 0 0;
	padding:5px;
}
.colum-checktitle {
	height: 16px;
	float: left;
	margin: 6px 5px;
}
.colum-checktitle p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	line-height: 24px;
	white-space: nowrap;
}
.colum-confix {
	width: 126px;
	height: 16px;
	float: right;
	margin: 6px 0 0 0;
}
.colum-confix p {
	font-family: 'circularregular';
	font-size: 20px;
	font-weight: bold;
	color: #EA3131;
	line-height: 22px;
	white-space: nowrap;
}
.colum-savepass {
	height: 16px;
	float: left;
	margin: 6px 0 6px 0;
}
.colum-savepass p {
	font-family: 'circularregular';
	font-size: 22px;
	font-weight: bold;
	color: rgb(50, 50, 50);
	line-height: 15px;
	white-space: nowrap;
}
.colum-titleb{
	font-family: 'circularregular';
	font-size: 22px;
	font-weight: bold;
	color: rgb(50, 50, 50);
}
.regis-frominput input {
	width: 350px;
	height: 32px;
	margin: 0 0 6px 1px;
}
.regis-frominput input {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
.regis-frominputS input {
	width: 168px;
	height: 32px;
	margin: 0 0 6px 1px;
}
.regis-frominputS input {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
.regis-frominputSS input {
	width: 110px;
	height: 32px;
	margin: 0 0 6px 5px;
	float: left;
}
.regis-frominputSS input {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
.regis-frominputother input {
	width: 100px;
	height: 32px;
	margin: 0 0 6px 5px;
	float: left;
}
.regis-frominputother input {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
.regis-fromdrop select {
	width: 107px;
	height: 32px;
	margin: 0 0 6px 1px;
	float: left;
}
.regis-fromdropcity select {
	width: 350px;
	height: 32px;
	margin: 0 0 6px 1px;
}
.regis-fromdropcity select {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
.regis-fromdropday select {
	width: 107px;
	height: 32px;
	margin: 2px 5.5px 35px 1px;
}
.regis-fromdropday select {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
.regis-fromdropday2 select {
	width: 168px;
	height: 32px;
	margin: 0 0 6px 1px;
}
.regis-fromdropday2 select {
	font-family: 'circularregular';
	font-size: 16px;
	color: #000;
	text-indent: 5px;
}
/*.bottonregister {
	width: 167px;
	height: 30px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	margin: 0;
	background: linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede);
	cursor: pointer;
}*/
.bottonregister {
	width: 167px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	margin: 0;
	background: linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede);
	cursor: pointer;
	text-align:center;
	padding:4px;
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
}
.bregistertext {
	width: 90px;
	height: 14px;
	margin: auto;
	margin-top: 8px;
}
.bregistertext p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	white-space: nowrap;
}
/*--------- SELECTSTEP1 ----------*/
.bgselect1 {
	width: 1280px;
	background: #f2f2f2;
	margin-left:auto;
	margin-right:auto;
}
.bodyselect1 {
	width: 1248px;
	height: 998px;
	background: #f2f2f2;
	margin: auto;
}
.imgstep1 {
	width: 1248px;
	height: 52px;
	margin: 41px 0 22px 0;
	float: left;
}
.se-showtime {
	width: 285px;
	height: 28px;
	margin: 0 0 13px 0;
	float: left;
}
.se-showtime p {
	font-family: 'circularregular';
	font-size: 24px;
	font-weight: 90px;
	color: black;
	line-height: 33px;
	white-space: nowrap;
}
.se-title {
	width: 1248px;
	/*height: 35px;*/
	background: #2f2e7d;
	float: left;
	padding-top:18px;
	padding-bottom:18px;
}
.se-title p {
	font-family: 'circularregular';
	font-size: 24px;
	color: #ffffff;
	line-height: 0px;
	white-space: nowrap;
	margin: 18;
}
.se-tdtitle {
	width: 1246px;
	height: 24px;
	border: 1px solid #bebebe;
	float: left;
}
.se-colum1 {
	width: 68px;
	height: 24px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-colum1 p {
	font-family: 'circularregular';
	font-size: 20px;
	;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-colum2 {
	width: 89px;
	height: 26px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-colum2 p {
	font-family: 'circularregular';
	font-size: 20px;
	;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-colum3 {
	width: 802px;
	height: 24px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-colum3 p {
	font-family: 'circularregular';
	font-size: 20px;
	;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-colum4 {
	width: 142px;
	height: 24px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-colum4 p {
	font-family: 'circularregular';
	font-size: 20px;
	;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-colum5 {
	/*width: 141px;
	height: 24px;
	float: left;*/
	text-align:center;
}
.se-colum5 p {
	font-family: 'circularregular';
	font-size: 20px;
	;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-row-colum2 {
	width: 89px;
	height: 26px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-row-colum2 p {
	font-family: 'circularregular';
	font-size: 18px;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-row-colum3 {
	width: 802px;
	height: 26px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-row-colum3 p {
	font-family: 'circularregular';
	font-size: 18px;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 20px;
}
.se-row-colum4 {
	width: 142px;
	height: 26px;
	border-right: 1px solid #bebebe;
	float: left;
}
.se-row-colum4 p {
	font-family: 'circularregular';
	font-size: 18px;
	color: #000;
	white-space: nowrap;
	margin: 5px 0 0 0;
}
.se-row-colum5 {
	/*width: 232px;*/
	height: 21px;
	/*float: left;*/
	text-align:center;
	border-right:1px solid #bebebe;
	padding-top:5px;
}
.se-row-colum5 p {
	font-family: 'circularregular';
	font-size: 18px;
	color: #000;
	white-space: nowrap;
	/*margin: 5px 0 0 0;*/
	margin:0;
}
.se-bottonarea {
	width: 1248px;
	height: 33px;
	float: left;
	margin: 30px 0 0;
}
.se-botton {
	width: 167px;
	height: 30px;
	border: 1px solid #bebebe;
	border-radius: 6px;
	margin: 0 10px 0 0;
	float: left;
	cursor: pointer;
}
.se-botton p {
	font-family: 'circularregular';
	font-size: 20px;
	;
	color: #000;
	white-space: nowrap;
	margin: 8px 0 0 0;
}
.se-botton-next {
	width: 167px;
	height: 30px;
	border: 1px solid #244385;
	border-radius: 6px;
	cursor: pointer;
	float: right;
	}/*background: #476bb2; *//* Old browsers *//*background: -moz-linear-gradient(top,  #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* FF3.6+ */
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#476bb2), color-stop(56%,#476bb2), color-stop(56%,#476bb2), color-stop(56%,#244385), color-stop(100%,#244385)); /* Chrome,Safari4+ */
	/*background: -webkit-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* IE10+ */
	/*background: linear-gradient(to bottom,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476bb2', endColorstr='#244385',GradientType=0 ); /* IE6-9 */
	/*}*/
	.se-botton-next p {
		font-family: 'circularregular';
		font-size: 20px;;
		color: #fff;
		white-space: nowrap;
		margin: 8px 0 0 0;
	}
	.se-tdbottom {
		width: 1246px;
		height: 24px;
		background: #ffffff;
		border: 1px solid #bebebe;
		float: left;
	}
	.se-row-silver {
		width: 1248px;
		height: 25px;
		border-bottom: 1px solid #bebebe;
		border-top: 1px solid #bebebe;
		background: #e8e8e8;
		margin: auto;
		float: left;
	}
	.se-row-white {
		width: 1248px;
		height: 26px;
		background: #ffffff;
		margin: auto;
		float: left;
	}
	.se-colum1-check {
		width: 68px;
		height: 26px;
		border-right: 1px solid #bebebe;
		border-left: 1px solid #bebebe;
		float: left;
	}
	.se-colum1-check input {
		width: 15px;
		height: 15px;
		margin: 5px 6px 0 28px;
		float: left;
	}
	/*--------- SELECTSTEP2 ----------*/
	.bgselect2 {
		width: 1280px;
		/*height: 1660px;*/
		background: #f2f2f2;
		margin-left:auto;
		margin-right:auto;
	}
	.bodyselect2 {
		width: 1248px;
		height: 1660px;
		background: #f2f2f2;
		margin: auto;
	}
	.se2-botton {
		width: 160px;
		height: 30px;
		border: 1px solid #244385;
		border-radius: 6px;
		margin: 20px 0 10px 0;
		float: left;
		background: #476bb2; /* Old browsers */
		background: -moz-linear-gradient(top, #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #476bb2), color-stop(56%, #476bb2), color-stop(56%, #476bb2), color-stop(56%, #244385), color-stop(100%, #244385)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* IE10+ */
		background: linear-gradient(to bottom, #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476bb2', endColorstr='#244385', GradientType=0 ); /* IE6-9 */
		cursor: pointer;
	}
	.se2-botton p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #fff;
		white-space: nowrap;
		margin: 8px 0 0 0;
	}
	.se2-title {
		width: 760px;
		height: 31px;
		margin: 20px 0 10px 75px;
		float: left;
	}
	.se2-title p {
		font-family: 'circularregular';
		font-size: 30px;
		;
		color: #2e2d7b;
		font-weight: bold;
		line-height: 30px;
		white-space: nowrap;
	}
	.se2-bottonmonth select {
		width: 114px;
		height: 30px;
		background: #ffffff;
		border: 1px solid #bebebe;
		border-radius: 6px;
		margin: 20px 0 10px 5px;
		float: left;
	}
	.se2-bottonmonth select {
		font-family: 'circularregular';
		font-size: 19px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 10px;
	}
	.se2-bottonmonth p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 8px 0 0 0;
	}
	.se2-td-title {
		width: 1248px;
		height: 50px;
		border-top: 1px solid #bebebe;
		border-bottom: 1px solid #bebebe;
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0 ); /* IE6-9 */
		float: left;
	}
	.se2-colum1 {
		width: 44px;
		height: 52px;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum1 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 0;
	}
	.se2-colum2 {
		width: 126px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum2 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 0;
	}
	.se2-colum3 {
		width: 106px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum3 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 0;
	}
	.se2-colum4 {
		width: 129px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum4 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 0;
	}
	.se2-colum5 {
		width: 450px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum5 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 0;
	}
	.se2-colum6 {
		width: 57px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum6 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 9px 0 0 0;
	}
	.se2-colum7 {
		width: 82px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum7 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 20px 0 0 0;
	}
	.se2-colum8 {
		width: 93px;
		height: 52px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-colum8 p {
		font-family: 'circularregular';
		font-size: 20px;
		;
		color: #000;
		white-space: nowrap;
		margin: 9px 0 0 0;
	}
	.se2-row-colum2 {
		width: 126px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum2 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 5px 0 0 0;
	}
	.se2-row-colum3 {
		width: 106px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum3 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum4 {
		width: 129px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum4 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: normal !important;
		margin: 15px 0 0 0;
	}
	.se2-row-colum5 {
		width: 430px;
		height: 30px;
		padding:10px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum5 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 5px 0 0 0;
	}
	.se2-row-colum6 {
		width: 57px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum6 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum7 {
		width: 82px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum7 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum8 {
		width: 93px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum8 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum9 {
		width: 93px;
		height: 50px;
		float: left;
		border-right: 1px solid #bebebe;
	}
	.se2-row-colum9 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum2-c {
		width: 126px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum2-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 5px 0 0 0;
	}
	.se2-row-colum3-c {
		width: 106px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum3-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum4-c {
		width: 129px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum4-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum5-c {
		width: 450px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum5-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum6-c {
		width: 57px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum6-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum7-c {
		width: 82px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum7-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum8-c {
		width: 93px;
		height: 50px;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.se2-row-colum8-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-colum9-c {
		width: 93px;
		height: 50px;
		float: left;
	}
	.se2-row-colum9-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		white-space: nowrap;
		margin: 15px 0 0 0;
	}
	.se2-row-close {
		width: 1248px;
		height: 49px;
		background: #707070;
		margin: auto;
		float: left;
	}
	.se2-row-silver {
		width: 1248px;
		height: 49px;
		border-bottom: 1px solid #bebebe;
		border-top: 1px solid #bebebe;
		background: #e8e8e8;
		margin: auto;
		float: left;
	}
	.se2-row-white {
		width: 1248px;
		height: 50px;
		background: #ffffff;
		margin: auto;
		float: left;
	}
	.se2-colum1-check {
		width: 44px;
		height: 50px;
		border-right: 1px solid #bebebe;
		border-left: 1px solid #bebebe;
		float: left;
	}
	.se2-colum1-check input {
		width: 15px;
		height: 15px;
		margin: 17px 0 0 17px;
		float: left;
	}
	.se2-colum2-day {
		width: 30px;
		height: 30px;
		background: #2f2e7d;
		border-radius: 7px;
		margin: 10px 0 0 5px;
		float: left;
	}
	.se2-colum2-day p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #ffffff;
		line-height: 18px;
		white-space: nowrap;
	}
	.se2-colum2-day-c {
		width: 30px;
		height: 30px;
		background: #e8e8e8;
		border-radius: 7px;
		margin: 10px 0 0 5px;
		float: left;
	}
	.se2-colum2-day-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: black;
		line-height: 18px;
		white-space: nowrap;
	}
	.se2-colum2-day-b {
		width: 30px;
		height: 30px;
		background: #009ced;
		border-radius: 7px;
		margin: 10px 0 0 5px;
		float: left;
	}
	.se2-colum2-day-b p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #ffffff;
		line-height: 18px;
		white-space: nowrap;
	}
	.se2-colum2-dtext {
		width: 75px;
		height: 30px;
		margin: 7px 0 0 6px;
		float: left;
	}
	.se2-colum2-dtext p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		line-height: 25px;
		white-space: nowrap;
	}
	.se2-colum2-dtext-c {
		width: 75px;
		height: 30px;
		margin: 7px 0 0 6px;
		float: left;
	}
	.se2-colum2-dtext-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		line-height: 25px;
		white-space: nowrap;
	}
	.se2-colum2-dtext-b {
		width: 75px;
		height: 30px;
		margin: 7px 0 0 6px;
		float: left;
	}
	.se2-colum2-dtext-b p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #009ced;
		line-height: 25px;
		white-space: nowrap;
	}
	.se2-colum5-text {
		margin: 15px 0 0 10px;
		float: left;
	}
	.se2-colum5-text p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		margin: 0px;
		white-space: nowrap;
	}
	.se2-colum6-text {
		width: 433px;
		height: 20px;
		margin: 15px 0 0 10px;
		float: left;
	}
	.se2-colum6-text p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		margin: 0px;
		white-space: nowrap;
	}
	.se2-colum5-text-c {
		width: 70px;
		height: 38px;
		margin: 7px 0 0 10px;
		float: left;
	}
	.se2-colum5-text-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		margin: 0px;
		white-space: nowrap;
	}
	.se2-colum6-text-c {
		width: 433px;
		height: 20px;
		margin: 15px 0 0 10px;
		float: left;
	}
	.se2-colum6-text-c p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #aeaeae;
		margin: 0px;
		white-space: nowrap;
	}
	.se2-colum5-text-b {
		width: 70px;
		height: 38px;
		margin: 7px 0 0 10px;
		float: left;
	}
	.se2-colum5-text-b p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #009ced;
		margin: 0px;
		white-space: nowrap;
	}
	.se2-colum6-text-b {
		width: 433px;
		height: 20px;
		margin: 15px 0 0 10px;
		float: left;
	}
	.se2-colum6-text-b p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #009ced;
		margin: 0px;
		white-space: nowrap;
	}
	.se-text {
		height: 20px;
		margin: 15px 0 0 10px;
		float: left;
	}
	.se-text p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		margin: 0px;
		white-space: nowrap;
	}
	.se-bottonarea2 {
		width: 1248px;
		height: 33px;
		float: left;
		margin: 20px 0 0 0;
	}
	.se-bottonarearight {
		width: 365px;
		height: 33px;
		float: right;
	}
	.se-botton-next2 {
		width: 167px;
		height: 30px;
		border: 1px solid #bebebe;
		border-radius: 6px;
		float: left;
		margin: 0 10px 0 0;
		background: #ffffff;
	}
	.se-botton-next2 p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		white-space: nowrap;
		margin: 8px 0 0 0;
	}
	/*--------- SELECTSTEP3 ----------*/
	.bgselect3 {
		width: 1280px;
		/*height: 1470px;*/
		background: #f2f2f2;
		margin-left:auto;
		margin-right:auto;
	}
	.bodyselect3 {
		width: 1248px;
		min-height: 1000px;
		background: #f2f2f2;
		margin: auto;
	}
	.se3-title {
		width: 1246px;
		height: 32px;
		border: 1px solid #bebebe;
		background: #ffffff;
		margin: auto;
		float: left;
	}
	.se3-title p {
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	font-weight: bold;
	line-height: 36px;
	text-indent: 20px;
	}
	.se3-colum-title {
		width: 260px;
		height: 44px;
		background: #e8e8e8;
		border-right: 1px solid #bebebe;
		border-bottom: 1px solid #bebebe;
		margin: 1px 0 0 0;
		float: left;
	}
	.se3-colum-title p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #2e2d7b;
		line-height: 40px;
		text-indent: 20px;
	}
	.se3-colum-title-L {
		width: 260px;
		height: 91px;
		background: #e8e8e8;
		border-right: 1px solid #bebebe;
		border-bottom: 1px solid #bebebe;
		margin: 1px 0 0 0;
		float: left;
	}
	.se3-colum-title-L p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #2e2d7b;
		line-height: 40px;
		text-indent: 20px;
	}
	.se3-colum-text {
		width: 985px;
		height: 45px;
		background: #ffffff;
		margin: 1px 0 0 0;
		float: left;
	}
	.se3-colum-text p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #0080c3;
		line-height: 40px;
		text-indent: 20px;
	}
	.se3-colum-textform {
		width: 985px;
		height: 45px;
		background: #ffffff;
		margin: 1px 0 0 0;
		float: left;
	}
	.se3-colum-text2 {
		width: 985px;
		height: 45px;
		background: #ffffff;
		margin: 1px 0 0 0;
		float: left;
	}
	.se3-colum-textday {
		width: 124px;
		height: 44px;
		background: #ffffff;
		margin: 1px 0 0 0;
		float: left;
	}
	.se3-colum-textday p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #0080c3;
		line-height: 40px;
	}
	.se3-colum2-day {
		width: 33px;
		height: 30px;
		background: #2f2e7d;
		border-radius: 7px;
		margin: 7px 10px 7px 20px;
		float: left;
	}
	.se3-colum2-day p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #ffffff;
		line-height: 28px;
		white-space: nowrap;
	}
	.se3-line {
		height: 3px;
		margin: 1px 0;
		float: left;
	}
	.se3-from-area {
		height: 24px;
		margin: 10px 0 0 43px;
		float: left;
	}
	.se3-from-area1 {
		
	}
	.se3-from-radio {
		
		text-align:center;
	}
	.se3-from-radio input {
		
	}
	.se3-from-radio p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #0080c3;
		white-space: nowrap;
	}
	.se3-from-textother input {
		width: 229px;
		height: 32px;
		margin: 7px 5px;
		float: left;
	}
	.se3-from-textother input {
		font-family: 'circularregular';
		font-size: 18px;
		color: #0080c3;
		text-indent: 6px;
	}
	.se3-from-title input {
		width: 66px;
		height: 32px;
		margin: 7px 5px 0 20px;
		float: left;
	}
	.se3-from-title input {
		font-family: 'circularregular';
		font-size: 20px;
		color: #0080c3;
		text-indent: 6px;
	}
	.se3-from-name input {
		width: 124px;
		height: 32px;
		margin: 7px 5px;
		float: left;
	}
	.se3-from-name input {
		font-family: 'circularregular';
		font-size: 18px;
		color: #0080c3;
		text-indent: 6px;
	}
	.se3-from-address input {
		width: 334px;
		height: 32px;
		margin: 7px 20px;
		float: left;
	}
	.se3-from-address input {
		font-family: 'circularregular';
		font-size: 20px;
		color: #0080c3;
		text-indent: 6px;
	}
	.se3-from-address select {
		width: 334px;
		height: 32px;
		margin: 7px 20px;
		float: left;
	}
	
	.se3-from-address select {
		font-family: 'circularregular';
		font-size: 20px;
		color: #0080c3;
		text-indent: 2px;
	}
	.se3-fix {
		width: 1244px;
		height: 71px;
		border: 2px solid #dfdfdf;
		background: #ffffff;
		margin: 20px 0 0;
		float: left;
	}
	.se3-fixtext {
		width: 500px;
		height: 27px;
		float: left;
		margin: 22px 415px;
	}
	.se3-fixtext p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 33px;
	}
	.se3-fixtext input {
		width: 16px;
		height: 16px;
		margin: 8px 6px;
		float: left;
	}
	.se-areabotton {
		width: 170px;
		height: 33px;
		float: right;
		margin: 20px 0 0 0;
	}
	/*--------- SELECTSTEP3-CHOICE----------*/
	.choice-area {
		width: 800px;
		height: 435px;
		background: #ffffff;
		border: 1px solid #bebebe;
		box-shadow: 5px 5px 0 #d9d9d9;
		float: left;
	}
	.c-title {
		width: 800px;
		height: 30px;
		border-bottom: 1px solid #bebebe;
		margin: 0 0 20px 0;
		float: left;
		background: #eeeeee; /* Old browsers */
		background: -moz-linear-gradient(top, #eeeeee 31%, #dddddd 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #eeeeee), color-stop(100%, #dddddd)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #eeeeee 31%, #dddddd 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #eeeeee 31%, #dddddd 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #eeeeee 31%, #dddddd 100%); /* IE10+ */
		background: linear-gradient(to bottom, #eeeeee 31%, #dddddd 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0 ); /* IE6-9 */
	}
	.c-body {
		width: 800px;
		height: 360px;
		float: left;
	}
	.c-colum1 {
		width: 400px;
		height: 360px;
		float: left;
	}
	.c-colum2 {
		width: 400px;
		height: 360px;
		float: right;
	}
	.c-text-chose {
		width: 400px;
		height: 15px;
		margin: 5px 0;
		float: left;
		text-indent: 22px;
	}
	.c-text-chose p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #23408f;
		line-height: 0px;
		font-weight: bold;
		margin: 13px 0;
	}
	.c-text-chose a {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 25px;
		text-decoration: none;
	}
	.c-text-chose a:hover {
		color: #23408f;
		font-weight: bold;
	}
	.x-cross {
		width: 16px;
		height: 17px;
		float: right;
		margin: 6px 10px 0;
		text-decoration: none;
		color: black;
	}
	/*--------- SELECTSTEP4 ----------*/
	.bgselect4 {
		width: 1280px;
		/*height: 1770px;*/
		background: #f2f2f2;
		margin-left:auto;
		margin-right:auto;
	}
	.bodyselect4 {
		width: 1248px;
		min-height: 1000px;
		background: #f2f2f2;
		margin: auto;
	}
	.se4-Ltitle {
		width: 1248px;
		/*height: 30px;
		margin: 10px 0;*/
		float: left;
	}
	.se4-Ltitle p {
		font-family: 'circularregular';
		font-size: 32px;
		font-weight: bold;
		color: #2f2e7d;
		text-align: center;
		line-height: 35px;
	}
	.se4-title {
		width: 1248px;
		height: 44px;
		background: #2e2d7b;
		margin: auto;
		float: left;
	}
	.se4-title p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #ffffff;
		font-weight: 80px;
		line-height: 36px;
		text-indent: 20px;
	}
	.se4-colum-title {
		width: 260px;
		height: 44px;
		border-right: 1px solid #ffffff;
		margin: 1px 0 0 0;
		float: left;
	}
	.se4-pay-area {
		width: 1246px;
		/*height: 345px;*/
		border: 1px solid #dcdcdc;
		border-radius: 10px;
		margin: auto;
		margin-top: 18px;
		background: #ffffff;
		float: left;
	}
	.se4-pay-title {
		width: 1246px;
		/*height: 68px;*/
		border-bottom: 1px solid #dcdcdc;
		float: left;
	}
	.se4-pay-title p {
		font-family: 'circularregular';
		font-size: 30px;
		font-weight: bold;
		color: #a98b4a;
		line-height: 50px;
	}
	.se4-pay-body {
		width: 1246px;
		height: 223px;
		border-bottom: 1px solid #dcdcdc;
		float: left;
	}
	.se4-pay-body1 {
		/*width: 414px;*/
		padding:15px;
		width:384px;
		height: 200px;
		border-right: 1px solid #dcdcdc;
		margin: 11.5px 0;
		float: left;
	}
	.se4-pay-body2 {
		/*width: 416px;*/
		padding:15px;
		width:386px;
		height: 200px;
		margin: 11.5px 0;
		float: left;
	}
	.se4-pay-body3 {
		width: 1246px;
		height: 52px;
		background: #2f2e7d;
		float: left;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.se4-pay-body3 p {
		font-family: 'circularregular';
		font-size: 30px;
		color: #ffffff;
		line-height: 55px;
		text-align: center;
	}
	.se4-pay-area1 {
		/*height: 24px;
		margin: 0 0 0 75px;
		float: left;*/
	}
	.se4-pay-area1 p {
		font-family: 'circularregular';
		font-size: 28px;
		font-weight: bold;
		color: #29b3e2;
		line-height: 22px;
	}
	.se4-pay-botton {
		width: 167px;
		height: 30px;
		margin: 25px 120px;
		float: left;
	}
	.se4-pay-text1 {
		width: 395px;
		height: 62px;
		margin: 0 9px;
		float: left;
	}
	.se4-pay-text1 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #fe0000;
		line-height: 20px;
	}
	.se4-pay-picbank {
		width: 414px;
		height: 26px;
		text-align: center;
		margin-top: 5px;
		float: left;
	}
	.se4-pay-picpaysbuy {
		/*width: 414px;
		height: 48px;*/
		text-align: center;
		margin-top: 18px;
		/*float: left;*/
	}
	.se4-pay-text2 {
		/*width: 395px;
		height: 62px;*/
		margin: 18px 9px;
		/*float: left;*/
	}
	.se4-pay-text2 p {
		font-family: 'circularregular';
		font-size: 18px;
		color: #000;
		line-height: 20px;
	}
	.se4-pay-text3 p {
		font-family: 'circularregular';
		font-size: 17px;
		color: #000;
		line-height: 20px;
	}
	/*--------- SELECTSTEP4-FA ----------*/
	.bgselect4-1 {
		width: 1280px;
		height: 1985px;
		background: #f2f2f2;
		margin: 1 auto 0;
	}
	.bodyselect4-1 {
		width: 1248px;
		height: 1985px;
		background: #f2f2f2;
		margin: auto;
	}
	.se4-fapay-area {
		width: 1248px;
		height: 190px;
		margin-top: 25px;
		float: left;
	}
	.se4-fa-title {
		height: 30px;
		float: left;
	}
	.se4-fa-title p {
		font-family: 'circularregular';
		font-size: 24px;
		;
		color: #2e2d7b;
		font-weight: bold;
		line-height: 36px;
		text-indent: 20px;
	}
	.se4-fa-textarea {
		width: 1195px;
		height: 100px;
		margin: 10px 21px 12px;
		float: left;
	}
	.se4-fa-text {
		width: 1175px;
		height: 100px;
		float: right;
	}
	.se4-fa-text li {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 22px;
	}
	.se4-fa-text ol {
		list-style:decimal;
	}
	.se4-fa-text2 {
		height: 30px;
		float: left;
	}
	.se4-fa-text2 p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 38px;
		text-indent: 10px;
	}
	.se4-botton2 {
		width: 170px;
		height: 30px;
		margin: 0px 0 20px 550px;
		float: left;
	}
	/*--------- Profile-detai----------*/
.bgprofile-detai {
	/*width: 1280px;*/
	width:1240px;
	background-color: #FFF;
	margin-left:auto;
	margin-right:auto;
	}
.bodyproselect1 {
	background: #f2f2f2;
	margin: auto;
	}
.pro-area1 {
		width: 1246px;
		height: 310px;
		background: #ffffff;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.pro1-colum1 {
		width: 352px;
		height: 270px;
		margin: 16px 28px 0 39px;
		float: left;
	}
	.pro1-colum2 {
		width: 352px;
		height: 200px;
		margin: 82px 28px 0 28px;
		float: left;
	}
	.pro1-colum3 {
		width: 352px;
		height: 130px;
		margin: 84px 28px 0 28px;
		float: left;
	}
	.pro-line {
		width: 1247px;
		height: 3px;
		margin: 20px 0 0 0;
		float: left;
	}
	.pro-area2 {
		width: 1246px;
		height: 111px;
		background: #ffffff;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.pro2-colum1 {
		width: 570px;
		height: 71px;
		margin: 16px 28px 0 39px;
		float: left;
	}
	.pro2-colum1 input {
		width: 170px;
		height: 32px;
		margin: 0 0 6px 1px;
		text-indent: 10px;
	}
	.pro2-colum2 {
		width: 352px;
		height: 389px;
		margin: 19px 28px 0 39px;
		float: left;
	}
	.pro2-colum3 {
		width: 352px;
		height: 194px;
		margin: 19px 28px 0 28px;
		float: right;
	}
	.pro-botton {
		width: 172px;
		height: 33px;
		float: left;
		margin: 0 0 0 10px;
	}
	.pro-area3 {
		width: 1246px;
		height: 457px;
		background: #ffffff;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.pro3-colum1 {
		width: 352px;
		height: 415px;
		margin: 18px 28px 0 39px;
		float: left;
	}
	.pro3-colum1-1 {
		width: 170px;
		height: 66px;
		float: left;
		margin: 1px 6px 0 0;
	}
	.pro3-colum1-2 {
		width: 170px;
		height: 65px;
		float: left;
		margin: 1px 0 0 5px;
	}
	.pro3-colum2 {
		width: 352px;
		height: 389px;
		margin: 48px 28px 0 39px;
		float: left;
	}
	.pro3-colum3 {
		width: 352px;
		height: 194px;
		margin: 48px 28px 0 28px;
		float: right;
	}
	.pro3-colum3-1 {
		width: 350px;
		height: 66px;
		margin: 0 0 43px 0;
		float: left;
	}
	.pro3-colum3-2 {
		width: 350px;
		height: 66px;
		margin: 24px 0 0 0;
		float: left;
	}
	.pro-area4 {
		width: 1246px;
		height: 641px;
		background: #ffffff;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
		float: left;
	}
	.pro4-colum1 {
		width: 1179px;
		height: 35px;
		margin: 20px 28px 0 39px;
		float: left;
	}
	.pro4-colum1-r1 {
		/*width: 1179px;
		height: 70px;*/
		margin: 0px 28px 0px 39px;
		float: left;
		width:92%;
	}
	.pro4-colum1-1 {
		height: 24px;
		margin: 0 268px 0 0;
		float: left;
	}
	.pro4-colum2-1 {
		height: 24px;
		margin: 0 140px 0 0;
		float: left;
	}
	.pro4-colum2-2 {
		width: 103px;
		height: 24px;
		float: left;
		margin: 0 6px 0 0;
	}
	.pro4-colum3 {
		width: 352px;
		height: 426px;
		margin: 0 28px 0 39px;
		float: left;
	}
	.pro4-colum3-1 {
		width: 352px;
		height: 270px;
		margin: 15px 0 0;
		float: left;
	}
	.pro4-colum3-2 {
		width: 352px;
		height: 410px;
		margin: 0 28px 7px 39px;
		float: left;
	}
	.pro4-colum3-3 {
		width: 352px;
		height: 66px;
		margin: 66px 0 79px;
		float: left;
	}
	.pro4-colum4 {
		width: 352px;
		height: 66px;
		margin: 66px 28px 40px 28px;
		float: left;
	}
	.pro4-colum5 {
		width: 352px;
		height: 66px;
		margin: 40px 28px;
		float: left;
	}
	.pro4-check {
		width: 325px;
		height: 30px;
		margin-top: 5px;
		float: left;
	}
	.pro4-fixtext {
		width: 295px;
		height: 27px;
		float: left;
	}
	.pro4-fixtext p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 26px;
		text-indent: 10px;
	}
	.pro4-fixtext input {
		width: 16px;
		height: 16px;
		float: left;
	}
	.pro-area5 {
		width: 1246px;
		height: 325px;
		background: #ffffff;
		border-left: 1px solid #bebebe;
		border-right: 1px solid #bebebe;
		border-bottom: 1px solid #bebebe;
		border-bottom-right-radius : 10px;
		border-bottom-left-radius : 10px;
		float: left;
	}
	.pro5-colum1 {
		width: 352px;
		height: 270px;
		margin: 16px 28px 0 39px;
		float: left;
	}
	.pro5-colum1-1 {
		width: 352px;
		height: 29px;
		margin: 15px 0 0 0;
		float: left;
	}
	.pro5-colum1-2 {
		width: 170px;
		height: 66px;
		float: left;
		margin: 1px 6px 0 0;
	}
	.pro5-colum1-3 {
		width: 170px;
		height: 65px;
		float: left;
		margin: 1px 0 0 5px;
	}
	.pro5-colum2 {
		width: 352px;
		height: 174px;
		margin: 16px 28px 0 39px;
		float: left;
	}
	.pro5-colum2-2 {
		width: 352px;
		height: 66px;
		margin: 48px 0 0 0;
		float: left;
	}
	.pro5-colum3 {
		width: 352px;
		height: 174px;
		margin: 45px 28px 0 28px;
		float: left;
	}
	.pro5-colum3-2 {
		width: 352px;
		height: 66px;
		margin: 86px 0 0 0;
		float: left;
	}
	.pro-fromtitle {
		height: 16px;
		float: left;
		margin: 6px 0 6px 0;
	}
	.pro-fromtitle p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 24px;
		white-space: nowrap;
	}
	.pro-fromtitle a {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 24px;
		border-bottom: 2px solid #bebebe;
		white-space: nowrap;
	}
	.pro-fromtitle p>span {
		color: red;
		font-weight: bold;
	}
	.pro-fromtitle input {
		width: 16px;
		height: 16px;
		margin: 2px 6px 0 0;
		float: left;
	}
	.pro-frominput input {
		width: 350px;
		height: 32px;
		margin: 0 0 6px 1px;
	}
	.pro-frominput input {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-frominputS input {
		width: 168px;
		height: 32px;
		margin: 0 0 6px 1px;
	}
	.pro-frominputS input {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-frominputSS input {
		width: 110px;
		height: 32px;
		margin: 0 0 6px 5px;
		float: left;
	}
	.pro-frominputSS input {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-fromdrop select {
		width: 107px;
		height: 32px;
		margin: 0 0 6px 1px;
		float: left;
	}
	.pro-fromdrop select {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-fromdropcity select {
		width: 350px;
		height: 32px;
		margin: 0 0 6px 1px;
	}
	.pro-fromdropcity select {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-fromdropday select {
		width: 107px;
		height: 32px;
		margin: 2px 5.5px 35px 1px;
	}
	.pro-fromdropday select {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-fromdropday2 select {
		width: 168px;
		height: 32px;
		margin: 0 0 6px 1px;
	}
	.pro-fromdropday2 select {
		font-family: 'circularregular';
		font-size: 16px;
		color: #000;
		text-indent: 5px;
	}
	.pro-fix {
		width: 1244px;
		height: 71px;
		border: 2px solid #dfdfdf;
		background: #ffffff;
		margin: 20px 0 0;
		float: left;
	}
	.pro-text {
		width: 350px;
		height: 32px;
		float: left;
	}
	.pro-text p {
		font-family: 'circularregular';
		font-size: 24px;
		;
		color: #2e2d7b;
		font-weight: bold;
		line-height: 25px;
	}
	.pro-fixtext {
		width: 295px;
		height: 27px;
		float: left;
		margin: 22px 470px;
	}
	.pro-fixtext p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 26px;
		text-indent: 10px;
	}
	.pro-fixtext input {
		width: 16px;
		height: 16px;
		float: left;
	}
	.pro-botton2 {
		width: 170px;
		height: 30px;
		margin: 40px 539px;
		float: left;
	}
	/*--------- (POPUP)----------*/
	.backgroundposition {
		width: 100%;
		height: 100%;
		position :absolute;
		background: #fff;
		z-index:5;
		opacity:0.5;
		top: 0;
	}
	.popup {
		width: 598px;
		height: 188px;
		position: relative;
		z-index: 10;
		background: #fff;
		border: 2px solid #23408f;
		border-radius:10px;
		margin: 15% auto;
	}
	.popuptext {
		width: 598px;
		height: 80px;
		float: left;
		margin-top: 20px;
	}
	.popuptext p {
		font-family: 'circularregular';
		font-size: 30px;
		;
		color: #23408f;
		font-weight: bold;
		line-height: 25px;
		text-align: center;
	}
	.popbottonarea {
		width: 598px;
		height: 35px;
		float: left;
		margin-top: 10px;
	}
	.popbotton {
		width: 176px;
		height: 35px;
		background: #ffffff;
		border: 1px solid #bebebe;
		border-radius: 6px;
		margin: auto;
		cursor: pointer;
		text-indent: 45px;
	}
	.popbottonink {
		width: 176px;
		height: 35px;
		float: left;
	}
	.popbottonink a {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		line-height: 38px;
		text-align: center;
		text-decoration: none;
	}
	/*--------- Profile-passward----------*/
	.bgprofile-pass {
		width: 1280px;
		height: 480px;
		background: #f2f2f2;
		margin: auto;
	}
	.bodypass {
		width: 1248px;
		height: 480px;
		background: #f2f2f2;
		margin: auto;
	}
	.pass-title {
		width: 1248px;
		/*height: 35px;*/
		text-align: center;
		background: #2f2e7d;
		margin-top: 50px;
		/*float: left;*/
		padding-top:18px;
		padding-bottom:18px;
	}
	.pass-title p {
		font-family: 'circularregular';
		font-size: 24px;
		color: #ffffff;
		line-height: 0px;
		white-space: nowrap;
		margin: 18;
	}
	.pass-area {
		width: 1246px;
		height: 250px;
		background: #ffffff;
		border-left: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		border-bottom-right-radius : 10px;
		border-bottom-left-radius : 10px;
		float: left;
	}
	.pass-colum {
		width: 800px;
		height: 170px;
		margin: 22px 0 0 39px;
		float: left;
	}
	.pass-fromtext {
		width: 255px;
		height: 22px;
		margin: 10px 20px 10px 0;
		float: left;
		white-space: nowrap;
	}
	.pass-fromtext p {
		font-family: 'circularregular';
		font-size: 20px;
		color: #000;
		font-weight: bold;
		line-height: 26px;
		text-indent: 10px;
	}
	.pass-fromtext p>span {
		color: red;
	}
	.pass-from input {
		width: 350px;
		height: 34px;
		margin: 5px 0;
		float: left;
		text-indent: 10px;
	}
	.pass-fixtext {
		width: 270px;
		height: 22px;
		margin: 10px 0 0 265px;
		float: left;
	}
	.pass-fixtext p {
		font-family: 'circularregular';
		font-size: 20px;
		color: red;
		font-weight: bold;
		line-height: 26px;
		text-indent: 10px;
	}
	.pass-botton {
		width: 170px;
		height: 30px;
		margin: 40px 539px;
		float: left;
	}
	input.error, select.error{
		border: 1px dotted #F00;
		background-color: #FFFFD5;
		margin: 0px;
		color: #F00;
	}
	label.error {
		display: block;
		color: #F00;
		font-weight: normal;
		font-family: "circularregular";
		font-size: 16px;
		white-space: nowrap;
		/*float: left;*/
		/*position: absolute;*/
		margin-left: 0px;
		margin-top: 0px;
		/*background-color: #FFFFD5;*/
		padding: 5px;
	}
	#f_confirm-error{
		margin-top: 20px;
	}
#receipt_detail table.form tbody tr#trReceiptInfo td table tbody tr td div.notright label#branch-error.error{
	margin-left:50px;
	}
#receipt_detail table.form tbody tr td label#receipt_no-error.error, div#receipt_detail table.form tbody tr td label#receipt_amphur_id-error.error{
	/*margin-left:180px;*/
	margin-left:210px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr td label#receipt_amphur_id-error.error{
	margin-left:180px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr td label#receipt_no-error.error{
	margin-left:180px;
	}
div#receipt_detail table.form tbody tr td label#receipt_district_id-error.error{
	/*margin-left:160px;*/
	margin-left:195px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr td label#receipt_district_id-error.error{
	margin-left:180px;
	}
.bgprofile-detai2 div.bodyproselect div.pcontainer table.form tbody tr td label#org_name-error.error{
	margin-left:50px;
	}
.bodyproselect div.pcontainer table.form tbody tr td div.radiob label#orgtype_text-error.error{
	margin-left:110px;
	}
.regisarea div#receipt_detail table.form tbody tr td.fix-error label#receipt_no-error.error, .regisarea div#receipt_detail table.form tbody tr td.fix-error label#receipt_amphur_id-error.error{
	text-align:left;
	}
.regisarea div#receipt_detail table.form tbody tr td.fix-error label#receipt_district_id-error.error{
	padding-right:50px;
	width:auto;
	}
.regisarea div#receipt_detail table.form tbody tr#receipt_taxno td label#taxno-error.error{
	/*padding-left:185px;*/
	padding-left:215px;
	}
.regisbg div.regisarea div#receipt_detail table.form tbody tr td.fix-error label#receipt_province_id-error.error{
	width:auto;
	padding-right:50px;
	}
.regisbg div.regisarea div#receipt_detail table.form tbody tr td.fix-error label#receipt_postcode-error.error{
	width:auto;
	padding-right:10px;
	}
.regisarea div#receipt_detail table.form tbody tr#trSlipName td.fix-error label#receipt_fname-error.error{
	width:150px;
	/*padding-left:50px;*/
	padding-left:80px;
	margin-left:120px;
	text-align:left;
	}
.regisarea div#receipt_detail table.form tbody tr#trSlipName td.fix-error label#receipt_lname-error.error{
	width:150px;
	padding-left:50px;
	margin-left:120px;
	text-align:left;
	}
.regisarea div#receipt_detail div.pro4-colum1-r1 table.form tbody tr td div.radiob label#receipttype_text-error.error{
	padding-left:115px;
	}
.regisarea table.form tbody tr td div.notright label#grd_lv1-error.error{
	position:absolute;
	padding-left:50px;
	}
.regisarea table#table_Org_Name.form tbody tr td label#org_name-error.error{
	padding-left:50px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail div.pro4-colum1-r1 table.form tbody tr td div.radiob label#receipttype_text-error.error{
	padding-left:110px;
	}



#receipt_detail table.form tbody tr td label#receipt_province_id-error.error, div#receipt_detail table.form tbody tr td label#receipt_postcode-error{
	/*margin-left:95px;*/
	margin-left:165px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr td label#receipt_postcode-error.error{
	margin-left:180px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr td label#receipt_province_id-error.error{
	margin-left:180px;
	}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr td label#receipt_moo-error.error{
	padding-left:180px;
	}
#receipt_detail table.form tbody tr#trSlipName td label#receipt_fname-error.error{
	margin-left:155px;
	}
#receipt_detail table.form tbody tr#trSlipName td label#receipt_lname-error.error{
	margin-left:95px;
	}
.container{
	/*width:1200px;*/
	width:1240px;
	margin:30px auto;
	color:#000;
	font-family:'circularregular'!important;
	}
.billinfo{
	padding:20px;
	background-color:#FFF;
	border:1px solid #dcdcdc;
	border-radius:10px;
	font-size:24px;
	}
.billinfo h5{
	color:#000073;
	text-align:center;
	font-size:30px;
	line-height:0;
	margin-top:0;
	margin-bottom:0;
	}
.cut{
	border-bottom:1px dashed #474747;
	margin-top:15px;
	margin-bottom:15px;
	background: url('../css/images/cut.png') right top no-repeat;
	height:20px;
	}
.bill1, .bill2{
	border-top:4px solid #009ced;
	color:#0080c3;
	border-bottom:1px solid #c9c9c9;
	border-right:1px solid #c9c9c9;
	border-left:1px solid #c9c9c9;
	/*font-family:Tahoma, Geneva, sans-serif;*/
	}
.bill1 div.header, .bill2 div.header{
	padding:5px;
	border:1px solid #bebebe;
	background:linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede) repeat scroll 0 0 rgba(0, 0, 0, 0);
	color:#2e2d7b;
	font-size:25px;
	font-weight:bold;
	font-family:'circularregular'!important;
	}
.bill1 div.header table, .bill2 div.header table{
	border:none;
	}
.bill1 table, .bill2 table{
	border-bottom:1px solid #c9c9c9;
	border-top:1px solid #c9c9c9;
	font-size:22px;
	}
table.noborder{
	border:none;
	}
.bill1 table tbody tr td.gray, .bill2 table tbody tr td.gray{
	background-color:#e8e8e8;
	border-bottom:1px solid #c9c9c9;
	border-right:1px solid #c9c9c9;
	color:#2e2d7b;
	width:15%;
	}
.choose{
	display:block;
	padding:10px 20px 10px 40px;
	color:#000;
	}
.bluetext{
	color:#23408f!important;
	}
.blue{
	color:#0080c3;
	}
table.moneyresult{
	border:1px solid #c9c9c9;
	color:#000;
	margin-bottom:30px;
	}
table.moneyresult tbody tr th{
	background:linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede) repeat scroll 0 0 rgba(0, 0, 0, 0);
	}
table.moneyresult tbody tr td{
	text-align:center;
	font-size:120%;
	}
.buttonb{
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%);
	margin-top:20px;
	margin-bottom:20px;
	float:right;
	border-radius:5px;
	color:#FFF;
	padding:10px;
	font-size:20px;
	}
.buttonb:hover{
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%);
	cursor:pointer;
	}
.buttonw{
	background: linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius:5px;
	color:#000;
	padding:10px 40px;
	font-size:20px;
	border:1px solid #bebebe;
	}
.buttonw:hover{
	background: linear-gradient(#f2f2f2, #ffffff, #c9c9cb, #e4e6e5, #fefefe);
	cursor:pointer;
	}
.buttonb img{
	margin-bottom:-7px;
	}
.headerblue{
	color:#FFF;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	padding:5px;
	background-color:#2f2e7c;
	}
.navigation{
	margin-top:20px;
	margin-bottom:20px;
	font-size:20px;
	/*overflow:auto;*/
	}
.navigation div.step, .navigation div.findbydate{
	width:50%;
	float:left;
	}
.navigation div.step div.level{
	padding:15px 25px;
	border:1px solid #dcdcdc;
	background-color:#FFF;
	float:left;
	display:block;
	}
.navigation div.step div.level.active, .navigation div.step div.level:hover{
	color:#FFF;
	background-color:#2f2e7c;
	cursor:pointer;
	}
.navigation div.step div.level.active{
	position:relative;
	}
.navigation div.step div.level.active div.bullet::after{
	content: url(../css/images/stepcursor.jpg);
	position:absolute;
	margin-top:38px;
	right:45%;
	}
.navigation div.findbydate{
	text-align:right;
	/*margin-top:20px;*/
	}
.navigation div.findbydate table#tb-regis-history-findbydate{
	float:right;
	}
.navigation div.findbydate table#tb-regis-history-findbydate tbody tr td input#find-date.se-botton-next2{
	float:none;
	margin-right:0;
	}
.navigation div.findbydate table#tb-regis-history-findbydate tbody tr td input#find-date{
	margin-left:10px;
	}
.findbydate select{
	font-family:'circularregular'!important;
	color:#000;
	font-size:20px;
	min-width:150px;
	margin-left:15px;
	margin-right:15px;	/*font-weight:bold;*/
	}
table.history{
	color:#000;
	margin-bottom:60px;
	margin-top:110px;
	}
table.history tbody tr.grayheader{
	background:linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede) repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-weight:bold;
	text-align:center;
	}
table.history tbody tr td {
	text-align: center;
	font-size: 18px;
	border: 1px solid #dcdcdc;
	font-family: "circularregular";
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	font-weight: normal;
	vertical-align: top;
	word-wrap: break-word;
}
table.form tbody tr td span.sample{
	font-size:90%;
	color:#FFAEAE;
}
.se-tdtitle.sub{
	height:65px!important;
	}
.se-colum1.sub1{
	height:65px!important;
}
.se-colum1.sub1 center p{
	margin-top:25px;
	}
.se-colum2.sub2{
	width:700px!important;
	height:65px!important;
	}
.se-row-colum2.sub2{
	width:690px!important;
	padding-left:10px;
	}
.se-colum2.sub2 center p{
	margin-top:25px;
	}
.se-colum3.sub3{
	width:170px!important;
	height:65px!important;
	}
.se-colum3.sub3 center p{
	white-space:normal!important;
	}
.se-row-colum3.sub3{
	width:170px!important;
	}
.se-row-colum3.sub3 p{
	margin-left:0!important;
	}
.se-colum4.sub4{
	width:170px!important;
	height:65px!important;
	}
.se-colum4.sub4 center p{
	white-space:normal!important;
	}
.se-row-colum4.sub4{
	width:170px!important;
	}
.se-row-colum4.sub4 p{
	margin-left:0!important;
	}
.se-colum5.sub5{
	width:130px!important;
	height:65px!important;
	}
.se-colum5.sub5 center p{
	white-space:normal!important;
	margin-top:15px!important;
	}
.se-row-colum5.sub5{
	/* width:130px!important; */
	}
.se-row-colum5.sub5 p{
	margin-left:0!important;
	}
.se-botton-next2
{
	color: #fff;
  	font-family: "circularregular";
  	font-size: 20px;
  	border-radius: 6px;
  	cursor: pointer;
  	height: 30px;
  	width: 70px;
  	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

div#child-course-remark-row
{
	 font-size: 20px;
	 padding:15px;
	 color:#333;
	 text-align:center;
}

div#child-course-subtotal-row .sub2
{
	 text-align:right;
	 padding-top:5px;
	 padding-right:20px;
	 font-size: 18px;
	 width: 1012px!important;
}


.tb-fa .tr-bg-white
{
	background: none repeat scroll 0 0 #ffffff;
	font-size:18px;
}
.tb-fa .tr-bg-silver
{
	background: none repeat scroll 0 0 #e8e8e8;
    border-bottom: 1px solid #bebebe;
	font-size:18px;
}

.tb-fa .tr-header-fa
{
	border: 1px solid #BEBEBE;
	font-size: 20px;
	color: #000;
	text-align:center;
	background: linear-gradient(to bottom, #FFF 0%, #F2F2F2 100%) repeat scroll 0% 0% transparent;
}

.tb-fa .tr-header-fa td, .tb-fa .tr-item-fa td
{
		border: 1px solid #BEBEBE;
}


.tb-fa .tr-header-fa .td-col-0 { width:2%; }
.tb-fa .tr-header-fa .td-col-1 { width:20%; }
.tb-fa .tr-header-fa .td-col-2 { width:12%; }
.tb-fa .tr-header-fa .td-col-3 { width:10%; }
.tb-fa .tr-header-fa .td-col-4 { width:10%; }
.tb-fa .tr-header-fa .td-col-5 { width:10%; }
.tb-fa .tr-header-fa .td-col-6 { width:10%; }
.tb-fa .tr-header-fa .td-col-7 { width:10%; }

.tb-fa .tr-item-fa .td-col-0 { text-align:center; }
.tb-fa .tr-item-fa .td-col-1 { }
.tb-fa .tr-item-fa .td-col-2 { text-align:center; }
.tb-fa .tr-item-fa .td-col-3 { text-align:center; }
.tb-fa .tr-item-fa .td-col-4 { text-align:center; }
.tb-fa .tr-item-fa .td-col-5 { text-align:center; }
.tb-fa .tr-item-fa .td-col-6 { text-align:center; }
.tb-fa .tr-item-fa .td-col-7 { text-align:center; }

.tb-fa tr td { padding:10px; }

.tb-fa .tr-item-fa .span-day { 
    height: 30px;
    background: none repeat scroll 0% 0% #2F2E7D;
    border-radius: 7px;
    margin: 7px 10px 7px 20px;
	padding: 5px 15px;
	font-size: 18px;
	color: #FFF;
	line-height: 28px;
}

.result_message { margin:20px}
.regisarea table.form tbody tr td select#select_university.required.regis_university{
	width:300px!important;
	}
#receipt_detail input#receipt_title_text.receipgroup.othern.regis_receipt_title_other.required{
	margin-top:15px;
	margin-bottom:10px;
	margin-left:30px;
	width:152px!important;
	}

 input, select {	
 	box-sizing: border-box;
   -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  cursor: pointer;
  }
.right-menu ul li:nth-child(2) .third-menu-pic{
	margin-left: 20px !important;
}

.right-menu ul li:nth-child(2) .third-menu-text{
	margin-left: 40px;
}
.right-menu ul li:last-child .fourth-menu-pic{
	margin-left: 25px !important;
}
.right-menu ul li:last-child .fourth-menu-text{
	
}

/*ปุ่มอื่นๆ*/
/*.menu2-right div.menu2 ul li.list-menu2-6 ul#submenu25.list99{
margin-left:-220px;
}
.menu2-right div.menu2 ul li.list-menu2-6 ul#submenu25.list99 div.triangle-down99{
margin-left:260px!important;
}
.menu2 ul li.list-menu2-5 ul#submenu24.list99{
	width:205px!important;
	}*/

.menu2-right div.menu2 ul li.list-menu2-5 ul#submenu24.list99{
	/*margin-left:-220px;*/
	margin-left:-222px;
}
.menu2-right div.menu2 ul li.list-menu2-5 ul#submenu24.list99 div.triangle-down99{
	margin-left:260px!important;
}
.menu2-right div.menu2 ul li.list-menu2-3 ul#submenu22.list99{
	margin-left:-83px;
}
.menu2-right div.menu2 ul li.list-menu2-3 ul#submenu22.list99 div.triangle-down99{
	margin-left:106px!important;
}

.menu2-right div.menu2 ul li.list-menu2-4 ul#submenu23.list99{
	/*margin-left:-25px;*/
	margin-left:-152px;
}
.menu2-right div.menu2 ul li.list-menu2-4 ul#submenu23.list99 div.triangle-down99{
	margin-left:175px!important;
}

tr#receipt_taxno_fix td label#taxno-error.error{
 	padding-left: 185px;
}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr#trSlipName td label#receipt_fname-error.error{
	margin-left: 170px;
}
#form_m div.bgprofile-detai2 div.bodyproselect div.pcontainer div#receipt_detail table.form tbody tr#trSlipName td label#receipt_lname-error.error{
	margin-left: 175px;
	}
#form_m div.bodyregis div.regisbg div.regisarea div#receipt_detail table.form tbody tr#trSlipName td input#receipt_title_text.receipgroup.othern.regis_receipt_title_other.required{
	margin-left:130px;
	}
#form_m div.bodyregis div.regisbg div.regisarea div#receipt_detail table.form tbody tr#trSlipName td label#receipt_title_text-error.error{
	margin-left:210px;
	margin-top:40px;
	}
td .detail ,
td .detail > p{
	font-size: 14px;
}

#orgtype_id-error{
	position: absolute;
	margin-top: -24px;
}
#orgtype_id.error{
  margin-bottom: 25px;
}
#receipttype_id-error{
	position: absolute;
	margin-top: -12px;
}

#email1-error{
position: relative;
left: 206px;	
}
#email2-error{
position: relative;
left: 195px;	
}
#org_name-error{
  margin-left: 46px
}
#receipt_id-error{
  margin-left: 43px
}

.someinput::-ms-clear {
    display: none;
}
p.plus{
	font-size: 13px !important;
}
/* ซ่อน FA */
/*#label_right3, #submenu21s3{
  display: none;
}
#submenu22 li:nth-child(3){
  display: none !important;
}
#submenu23 li:nth-child(4),#submenu25 li:nth-child(4){
  display: none !important;
}*/
/* end hide fa */