@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'circularregular';
	src: url('../font/circular-webfont.eot');
	src: url('../font/circular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/circular-webfont.woff2') format('woff2'), url('../font/circular-webfont.woff') format('woff'), url('../font/circular-webfont.ttf') format('truetype'), url('../font/circular-webfont.svg#circularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
#whitelogobar{
	width:100%;
	background: #fff;
	border-bottom:1px solid #dcdcdc;
	padding-bottom:15px;
	}
.homecontainer{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	}
#mainbody{
	width: 100%;
	min-height: 400px;
	/*background: url('../images/bg.png') no-repeat center top #f0f0eb;*/
	background: url('../images/bg_01.png') no-repeat center top #f0f0eb;
	padding-top:10px;
	padding-bottom:10px;
	font-family: 'circularregular';
	font-size: 20px;
	color: #000;
	}
#loginbox{
	border: 1px solid #dcdcdc;
	background-color:#FFF;
	border-radius:10px;
	width: 100%;
	}
.logintitle{
	font-size: 36px;
	font-weight: bold;
	color: #2e2d7b;
	padding:15px 50px;
	border-bottom: 1px solid #dcdcdc;
	}
.login{
	padding:15px 50px;
	}
#loginbox div.login table h5{
	font-size: 30px;
	font-weight: bold;
	color: #29b3e2;
	margin-top:0;
	margin-bottom:15px;
	}
td.borderright{
	border-right: 1px solid #dcdcdc;
	}
td.right{
	padding-left:45px;
	}
div.login table tbody tr td table tbody tr td{
	padding-top:20px;
	padding-bottom:20px;
	}
div.whitebotton{
	padding:3px 15px;
	border: 1px solid #bebebe;
	border-radius: 6px;
	background: linear-gradient(#ffffff, #ffffff, #f7f7f7, #dedede);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dedede', GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	width:70%;
	}
div.whitebotton:hover{
	background: linear-gradient(#f2f2f2, #ffffff, #c9c9cb, #e4e6e5, #fefefe);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#fefefe', GradientType=0 ); /* IE6-9 */
	}
.login table tbody tr td.right form#form_login{
	padding-left:38px;
	}
form#form_login input {
	width: 300px;
	color: #383838;
	padding:5px;
	margin-bottom:15px;
	font-family: 'circularregular';
}
form#form_login img {
	position:relative;
	top:8px;
}
#form_login table tbody tr td div.bluebutton input.se-botton-next{
	width:180px;
	margin-bottom:0;
	}
.bluebutton input.se-botton-next {
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#4264a1', GradientType=0 ); /* IE6-9 */
	cursor: pointer;
	border: 1px solid #244385;
	border-radius: 6px;
	padding:3px 15px;
	color: #FFF!important;
	font-family: 'circularregular';
	font-size: 20px;
}
.bluebutton input.se-botton-next:hover {
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#254487', GradientType=0 ); /* IE6-9 */
}
.fogotp a {
	color: #000;
	text-decoration:underline;
}

.bluebutton input.se-botton-next{
	height:auto!important;
	float:none!important;
	}
.bgprofile-detai2 {
	width:1240px;
	/*background-color: #FFF;*/
	margin-left:auto;
	margin-right:auto;
	}
form#form_m{
	background-color:#f2f2f2;
	padding-bottom:20px;
	padding-top:15px;
	}
.bodyproselect {
	background-color: #FFF;
	margin-left: auto;
	margin-right:auto;
	margin-top:30px;
	border:1px solid #dcdcdc;
	/*border-radius:0 0 10px 10px;*/
	border-radius:10px;
	}
div.blueheader{
	/*text-align: center;
	background-color: #2f2e7d;
	color:#FFF;
	font-size:24px;
	padding:10px;*/
	font-size:36px;
	color:#a98b4a;
	font-weight:bold;
	padding:25px 30px 10px;
		}
div.subheader{
	/*font-size: 20px;
	color: #000;
	padding:10px 20px;
	border-bottom:1px solid #bebebe;*/
	border-top:1px solid #dcdcdc;
	padding:20px 30px 0px;
	color:#29b3e2;
	font-size:30px;
	font-weight: bold;
	}
div.pcontainer{
	padding:15px 30px;
	margin:0;
	}
.formtitle {
	height: 16px;
	margin: 15px 0 6px 0;
	font-size: 20px;
	line-height: 24px;
}
div.pcontainer select {
	width: 107px;
	height: 32px;
	/*margin: 2px 5.5px 35px 1px;
	color: #000;*/
	font-size: 16px;
	font-family: 'circularregular';
}
div.pcontainer option {
	color: #000;
}
.tipred {
	float:right;
	font-size: 20px;
	font-weight: bold;
	color: #EA3131;
	line-height: 22px;
	margin-right:38px;
}
.pro-fix2 {
	border: 2px solid #dfdfdf;
	background-color: #ffffff;
	margin:20px auto;
	padding:25px 15px;
	text-align:center;
	color:#000;
	font-size:20px;
	width:1205px;
	}
.pro-botton3 {
	display:block;
	margin:20px auto;
	width:170px;
	}
.pro-botton3 input{
	float:none!important;
	}
label#no-error, label#province_id-error, label#amphur_id-error, label#district_id-error, label#postcode-error, label#tel_mobile-error, label#tel_office-error{
	padding-left:210px!important;
	}
label#org_position-error{
	padding-left:70px!important;
	}
label#grd_yr1-error{
	padding-left:305px!important;
	}
label#select_university-error{
	padding-left:60px!important;
	}
label#grd_major1-error{
	padding-left:70px!important;
	}
#receipt_detail table.form tbody tr#trSlipName td input#receipt_title_text.receipgroup.othern.regis_receipt_title_other.required{
	width:158px!important;
	}
#receipt_detail div.pro4-colum1-r1{
	margin:0!important;
	float:none!important;
	}
.footer{
	font-size:18px;
	color:#666;
	text-align:center;
	width:100%;
	padding-top:10px;
	padding-bottom:20px;
	font-weight:bold;
	}
.form tbody tr td div.radiob input#orgtype_text.otherinput{
	width:280px!important;
	}
.form tbody tr td div.radiob input#receipttype_text.otherinput{
	width:280px!important;
	}
.form tbody tr td input#grd_other.otherinput{
	width:280px!important;
	}
.regisarea table.form tbody tr td div.radiob label#slip_type-error.error{
	position:absolute;
	margin-left:10px;
	}

table.custom-table {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table.custom-table > td *, table.custom-table > td *:before, table.custom-table > tr *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


table.custom-table{
	margin: 0 auto;
	position: relative;
	width: 100%;
	max-width: 1246px;
}
table.custom-table th,
table.custom-table td{
	padding: 5px 7px 5px 20px;
	border:1px solid #BEBEBE;
	font-family: "circularregular";
	font-size: 18px;
	color: #000;
	white-space: nowrap;
}

table.custom-table tr.header{
	background: #2F2E7D none repeat scroll 0% 0%;
}
table.custom-table tr.white{
	background: #FFF none repeat scroll 0% 0%;
}
table.custom-table tr.silver{
	background:#E8E8E8 none repeat scroll 0% 0%;
}
table.custom-table .center{
	text-align: center;
}
table.custom-table tr.subheader{
	
}
table.custom-table tr.header th{
	font-family: "circularregular";
	font-size: 24px;
	color: #FFF;
	line-height: 0px;
	white-space: nowrap;
	display: table-cell;
	padding-top: 18px;
	padding-bottom: 18px;
	text-align: center;
	border-left:1px solid #2F2E7D;
	border-right:1px solid #2F2E7D;
	border-top:1px solid #2F2E7D;
}

table.custom-table tr.subheader td{
	font-family: "circularregular";
	font-size: 20px;
	color: #000;
	white-space: nowrap;
	margin: 5px 0px 0px;
}
input[type=text], textarea, input[type=password]{
	cursor:text!important;
}

.bluebutton input.se-botton-next{
	cursor:pointer!important;
	}
.select-zone div#bottom-label.bottom-left div.bottom-left-zone .bottom:hover{
	border:2px solid #4a9bea!important;
	}
