option {
	font-family: 'circularregular';
	font-size: 20px;
	color: #383838;
}
.contrainer {
	width: 100%;
	background:url('../images/bg.png');
	background-size: cover;
	overflow:auto;
	padding-bottom:25px;
	max-height:525px;
	min-height:400px;
}
.mainsite {
	width:1280px;
	margin:auto;
}

.label {
	width: 100%;
	height: 40px;
	float: left;
	margin-top: 35px;
}
.label p {
	font-size: 24px;
	color: #000;
	font-family: 'circularregular';
	text-align: center;
}
.select-zone {
	width: 1248px;
	/*min-height: 365px;*/
	min-height: 295px;
	/*margin: 35px 17px 0 17px;*/
	margin: 15px 17px 0 17px;
	border: 1px solid #dfdfdf;
	float:left;
	background: #fff;
	border-radius: 10px;
}
.select-left {
	width: 624px;
	height: 64px;
	float: left;
	border-bottom: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}
.select-center {
	width: 623px;
	height: 64px;
	float: left;
	border-bottom: 1px solid #dfdfdf;
}
.select-right {
	width: 226px;
	height: 64px;
	float: right;
	border-bottom: 1px solid #dfdfdf;
}
#head-label p {
	font-size: 24px;
	font-family: 'circularregular';
	color:#2e2d7b;
	font-weight : bold;
	text-align: center;
	padding : 25px 0 22px 0;
}
.bottom-left {
	width: 624px;
	height: 220px;
	float: left;
	border-right: 1px solid #dfdfdf;
}
.bottom-left-zone {
	width: 624px;
	height: 175px;
	margin: 23px 70px;
}
.bottom {
	width: 480px;
	/*height: 45px;*/
	border: 3px solid #f9f9f9;
	float: left;
	margin: 2px;
	border-radius: 10px;
	cursor: pointer;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	opacity: 0.6;
}
.bottom a {
	font-size: 24px;
	font-family: 'circularregular';
	color:#24b1e6;
	font-weight: bold;
	/*line-height: 53px;*/
}
.bottom:hover {
	border: 3px solid #4a9bea;
	opacity: 1;
}
.bottom-center {
	width: 623px;
	height: 220px;
	float: left;
}
.bottom-center-zone {
	width: 266px;
	height: 105px;
	margin: 23px auto;
}
.bottom_2 {
	width: 124px;
	height: 43px;
	border: 2px solid #f9f9f9;
	float: left;
	border-radius:10px;
	cursor: pointer;
	margin:2.5px;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
	opacity: 0.6;
}
.bottom_2 a {
	font-size: 24px;
	font-family: 'circularregular';
	color:#24b1e6;
	font-weight: bold;
	line-height: 53px;
}
.bottom_2:hover {
	border: 2px solid #4a9bea;
	opacity:1;
}
.bottom-right {
	width: 226px;
	height: 151px;
	float: right;
}
.bottom-right p {
	font-size: 20px;
	font-family: 'circularregular';
	color:#000;
	text-align: center;
	margin-top: 35px;
	line-height: 21px
}
.bottom-right span {
	color: #00a8ff;
}
.showyourselect {
	width:1248px;
	height: 68px;
	border-top: 1px solid #dfdfdf;
	float: left;
	text-align: center;
}
.showyourselect p {
	font-size:24px;
	font-family: 'circularregular';
	margin-top:28px;
	color :#000;
}
.showyourselect p > span {
	color: #00a8ff;
}
.submit-bottom {
	float:  left;
	width: 1280px;
	height: 114px;
	margin:auto;
}
.submit-zone {
	margin:42px 453px;
}
.bottom_3 a {
	width: 170px;
	height: 30px;
	margin-right:12px;
	float: left;
	border: 1px solid #f9f9f9;
	text-align: center;
	border-radius: 6px;
	line-height:35px;
	color:#000;
	background:#ffffff;
}
.bottom_4 a {
	width: 170px;
	height: 30px;
	float: left;
	border: 1px solid #f9f9f9;
	text-align: center;
	border-radius: 6px;
	line-height:35px;
	color:#ffffff;
	background: rgba(179, 220, 237, 1);
	background: rgba(179, 220, 237, 1);
	background: -moz-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 58%, rgba(188, 224, 238, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 220, 237, 1)), color-stop(58%, rgba(41, 184, 229, 1)), color-stop(100%, rgba(188, 224, 238, 1)));
	background: -webkit-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 58%, rgba(188, 224, 238, 1) 100%);
	background: -o-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 58%, rgba(188, 224, 238, 1) 100%);
	background: -ms-linear-gradient(top, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 58%, rgba(188, 224, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(179, 220, 237, 1) 0%, rgba(41, 184, 229, 1) 58%, rgba(188, 224, 238, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );
}
.contrainer1 {
	width: 100%;
	background : #f2f2f2;
	margin: 0;
	padding-bottom:20px;
}
.mainsite1 {
	width: 1280;
	margin:auto;
}
.tag_page {
	width: 1246px;
	margin:auto;
float: left:left;
	height: 40px;
}
.tag_page p {
	color:#000;
	font-size: 24px;
	font-family: 'circularregular';
	text-indent: 20px;
	line-height: 42px;
}
.tag_page a {
	color:#b2b2b2;
}
.condition-zone {
	width:1246px;
	margin:auto;
	background: #fff;
	border:1px solid #e2e2e2;
	border-radius: 10px;
}
.condition-detail {
	width: 1186px;
	height: 215px;
	margin:auto;
}
.condition-detail h2 {
	color:#000073;
	font-size: 30px;
	font-family: 'circularregular';
	line-height: 40px;
	margin-top: 40px;
	text-align:center;
}
.condition-detail div.section-detail ul{
	list-style:inside!important;
	}
.condition-detail ul li {
	color:#000;
	font-size: 24px;
	font-family: 'circularregular';
	line-height: 30px;
	/*margin-left:20px;*/
}
.table1 {
	width: 1190px;
	margin:auto;
}
.table-top {
	width: 1190px;
	height: 23px;
	background: #41709e;
	border-bottom: 1px solid #fff;
}
.table-top p {
	font-size: 24px;
	color:#fff;
	font-family: 'circularregular';
	line-height: 30px;
	text-align: center;
}
.table-all {
	width: 1190px;
	height: 23px;
	border-bottom: 1px solid #fff;
}
.table-all p {
	color:#4f4379;
	font-family: 'circularregular';
	font-size: 18px;
	line-height: 28px;
	text-indent: 10px;
}
.table-hot1 {
	width: 103px;
	height: 23px;
	border-right: 1px solid #fff;
	background:#f1dfbe;
	float: left;
	text-align: center;
}
.table-hot2 {
	width: 53px;
	height: 23px;
	border-right: 1px solid #fff;
	background: #f1dfbe;
	float: left;
}
.table-hot2 img {
	margin:3px 0 0 12px;
}
.table-hot3 {
	width: 927px;
	height: 23px;
	border-right:1px solid #fff;
	background:#f1dfbe;
	float: left;
}
.table-hot4 {
	width: 104px;
	height: 23px;
	background: #f1dfbe;
	float:left;
	text-align: center;
}
.table-hot4 a {
	color:#0000ff;
	font-size: 18px;
	line-height: 28px;
	font-family: 'circularregular';
}
.table-old1 {
	width: 103px;
	height: 23px;
	border-right: 1px solid #fff;
	background:#cfcfcf;
	float: left;
	text-align: center;
}
.table-old2 {
	width: 53px;
	height: 23px;
	border-right: 1px solid #fff;
	background: #cfcfcf;
	float: left;
}
.table-old3 {
	width: 927px;
	height: 23px;
	border-right:1px solid #fff;
	background:#cfcfcf;
	float: left;
}
.table-old4 {
	width: 104px;
	height: 23px;
	background: #cfcfcf;
	float:left;
	text-align: center;
}
.table-old4 a {
	color:#8a8a8a;
	font-size: 18px;
	line-height: 28px;
	font-family: 'circularregular';
}
.newformati {
	width: 1190px;
	height: 250px;
	border:1px solid #dddddd;
	margin:30px auto 0;
}
.newhead {
	width: 1190px;
	height: 54px;
	border-bottom: 1px solid #dddddd;
	text-align: center;
	background:#ededee;
}
.newhead p {
	color:#000;
	font-family: 'circularregular';
	font-size: 24px;
	line-height: 60px;
	font-weight: bold;
}
.newdetail {
	width: 1190px;
	height: 48px;
	border-bottom: 1px solid #dddddd;
	background:#f7f7f7;
}
.newdetail p {
	color: #000;
	height: 48px;
	font-size: 24px;
	font-family: 'circularregular';
	margin-top:17px;
}
#newdetail {
	background: #8dbbd2;
}
#newdetail p {
	color: #fff;
}
.newdetail1 {
	width: 75px;
	height: 48px;
	float: left;
	text-align: center;
}
.newdetail1 img {
	margin-top: 8px;
}
.newdetail2 {
	width: 135px;
	height: 48px;
	float: left;
	text-align: center;
}
.newdetail3 {
	text-indent: 30px;
	width: 882px;
	height: 48px;
	float: left;
}
.newdetail4 {
	width: 90px;
	height: 48px;
	float: left;
	text-align: center;
}
.newdetail4 img {
	margin-top: 8px;
	cursor: pointer;
}
.condition-bottom {
	height: 130px;
	width: 1190px;
	background: #f9f9f9;
	border:1px solid #dfdfdf;
	margin: 65px auto 0;
	text-align: center;
}
.condition-bottom h2 {
	font-family: 'circularregular';
	font-size: 24px;
	color:#29b3e2;
	margin-top:30px;
}
.condition-bottom p {
	font-family: 'circularregular';
	font-size: 18px;
	color:#000;
}
.condition-bottom a {
	font-family: 'circularregular';
	font-size: 18px;
	color:#000;
	text-decoration: underline;
}
.condition-bottom input {
	font-family: 'circularregular';
	font-size: 18px;
	color:#000;
}
.conditon-submit {
	width: 1190px;
	height: 90px;
float;
left;
	margin:auto;
}
.cancel-bottom {
	width: 170px;
	height: 30px;
	margin:20px 10px 0 415px;
	border: 1px solid #bebebe;
	border-radius: 8px;
	float:left;
	cursor: pointer;
	text-align: center;
	background: #eeeeee;
}
.cancel-submit {
	width: 170px;
	height: 30px;
	border: 1px solid #244385;
	border-radius: 8px;
	float: left;
	margin-top:20px;
	cursor: pointer;
	text-align: center;/*background: #eeeeee; /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */
/*background: -moz-linear-gradient(top,  #476bb2 0%, #476bb2 56%, #476bb2 56%, #244385 56%, #244385 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#476bb2), color-stop(56%,#476bb2), color-stop(56%,#476bb2), color-stop(56%,#244385), color-stop(100%,#244385)); /* Chrome,Safari4+ */
/*background: -webkit-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* Chrome10+,Safari5.1+ */
/*background: -o-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* Opera 11.10+ */
/*background: -ms-linear-gradient(top,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* IE10+ */
/*background: linear-gradient(to bottom,  #476bb2 0%,#476bb2 56%,#476bb2 56%,#244385 56%,#244385 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476bb2', endColorstr='#244385',GradientType=0 ); /* IE6-9 */
}
.cancel-bottom p {
	margin-top: 8px;
	font-family: 'circularregular';
	font-size: 18px;
	color:#000;
}
.cancel-submit p {
	margin-top:8px;
	font-family: 'circularregular';
	font-size: 18px;
	color:#fff;
}
.newformati2 {
	width: 1190px;
	height: 250px;
	border:1px solid #dddddd;
	margin: 0 auto 0;
}
.topmenu {
/*	width:100%;
	height: 46px;
	background: #000;
	text-align: center;*/
	width:1280px;
	height: 46px;
	background: #000;
	text-align: center;
}
.menu-zone {
	/*width: 1250px;*/
	width:1280px;
	height: 46px;
	margin : auto;
}
.label-homepage {
	width: 60px;
	height: 24px;
	margin: 11px 0 11px 0;
	float: left
}
.label-homepage a {
	font-family: 'circularregular';
	font-size: 24px;
	color:#fff;
}
.right-menu {
	width: 450px;
	height: 46px;
	float: right;
	/*margin-right:60px;*/
}
.right-menu ul li {
	overflow:auto;
	float:left;
}
.right-menu ul li:hover {
	background: #474747;
}
.right-menu ul li ul li {
	overflow:hidden;
}
.first-menu, .second-menu, .third-menu, .fourth-menu {
	height: 36px;
	float: left;
	padding: 10px 0 0 10px;
}
.first-menu-text p, .second-menu-text p, .third-menu-text p, .fourth-menu-text p {
	color: #fff;
	font-family: 'circularregular';
	font-size: 18px;
	line-height: 28px;
	text-indent: -15px;
}
.first-menu-pic, .second-menu-pic, .third-menu-pic, .fourth-menu-pic {
	float: left;
}
.first-menu {
	width: 145px;
}
.second-menu {
	width: 190px;
}
.third-menu {
	width: 145px;
}
.fourth-menu {
	width:130px;
}
.list {
	position:absolute;
	z-index: 1;
	display: none;
	margin-top:46px;
	background:#666666;
	width:250px;
}
.list a {
	font-size: 16px;
	color:#fff;
	font-family: 'circularregular';
}
.list li {
	height: 14px;
	width: 250px;
	padding: 10px 0 10px 0;
	text-indent: 30px;
	text-align: left;
}
.list li:hover {
	background: #474747;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #474747;
	margin-left: 70px;
}
.list2 {
	position:absolute;
	z-index: 1;
	display:none;
	margin:46px 0 0 0px;
	background:#666666;
	width:250px;
}
.list2 a {
	font-size: 16px;
	color:#fff;
	font-family: 'circularregular';
}
.list2 li {
	height: 14px;
	width: 250px;
	padding: 10px 0 10px 0;
	text-indent: 30px;
	text-align: left;
}
.list2 li:hover {
	background: #474747;
}
.triangle-down2 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #474747;
	margin-left: 60px;
}
.list3 {
	position:absolute;
	z-index: 1;
	display:none;
	margin:46px 0 0 0px;
	background:#666666;
	/*width:200px;*/
	width:140px;
}
.list3 a {
	font-size: 16px;
	color:#fff;
	font-family: 'circularregular';
}
.list3 li {
	height: 14px;
	/*width: 200px;*/
	width:140px;
	padding: 10px 0 10px 0;
	/*text-indent: 30px;*/
	text-indent: 15px;
	text-align: left;
}
.list3 li:hover {
	background: #474747;
}
.logobar {
	width:100%;
	height: 100px;
	background: #fff;
	border-bottom:1px solid #dcdcdc;
}
.imglogo {
	width:1240px;
	/*width:1000px;*/
	height: 100px;
	/*margin: 0 0 0 4%;*/
	margin-left:auto;
	margin-right:auto;
}
@media only screen and (min-width:1279px)   {
	.topmenu {
		width:100%;
		height: 46px;
		background: #607d8b;
		text-align: center;
	}
	.menu-zone {
/*width: 1280px;
   width: 98%; */
  width: 1240px;
  height: 46px;
  /*margin: auto 10px auto 4%;*/
  margin-left:auto;
  margin-right:auto;
	}
}

.imglogo img {
	float: left;
	height: 67px;
	margin:10px 20px 10px 0;
}
.menu2-right {
	width: 560px;
	height: 100px;
	/*margin-right:10px;*/
	float: right;
}
.logout-bottom {
	/*width: 140px;*/
	width:120px;
	height: 43px;
	float: right;
	display: display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.logout-bottom a img{
	margin-right:0!important;
	}

.logout-bottom p {
	color: #000;
	font-size: 20px;
	font-family: 'circularregular';
	float: left;
	margin:15px 10px 0 0;
}
.logout-bottom img {
	float: left;
	width: 26px;
	height: 26px;
}
.profile-bottom {
	width: auto;
	z-index:10;
	height: 43px;
	float: right;
	/*margin-left: 280px;*/
	/* margin-left:300px; */
	display: display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.profile-bottom p {
	color: #000;
	z-index:10;
	font-size: 20px;
	font-family: 'circularregular';
	float: left;
	margin:15px 10px 0 0;
	display: display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.profile-bottom img {
	float: left;
	z-index:10;
	width: 26px;
	height: 26px;
	display: display: inline-block;
	vertical-align: top;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}
.menu2 {
	float: right;
	/*width: 527px;*/
	width: 423px;
	height: 56px;
	border:1px solid #dcdcdc;
	text-align: center;
}
.list-menu2-1 {
	width: 102px;
	height: 56px;
	float: left;
	border-right: 1px solid #dcdcdc;
	text-align: center;
}

.menu2 ul li:hover{
	background:#2e2d7b;
	}
.menu2 ul li:hover a{
	color:#fff;
	}
.menu2 ul li a{
	padding:17px 16px;
	color: #000;
	font-size: 20px;
	font-family: 'circularregular';
	line-height: 55px;
	}

.list-menu2-2 {
	width: 182px;
	height: 56px;
	float: left;
	border-right: 1px solid #dcdcdc;
	text-align: center;
}
.list-menu2-3 {
	width: 68px;
	height: 56px;
	float: left;
	border-right: 1px solid #dcdcdc;
	text-align: center;
}
.list-menu2-4 {
	width: 69px;
	height: 56px;
	float: left;
	border-right: 1px solid #dcdcdc;
	text-align: center;
}
.list-menu2-5 {
	width: 100px;
	height: 56px;
	float: left;
	border-right: 1px solid #dcdcdc;
	text-align: center;
}
/*.list-menu2-6 {
	width: 103px;
	height: 56px;
	float: left;
	text-align: center;
}*/

.submenu2 {
	width: 300px;
	z-index:10;
	height: 130px;
	display:none;
	z-index: 10;
	float: left;
	background: #fff;
	position: absolute;
	text-align: left;
	box-shadow: 5px 5px #dedede;
	margin:43px 0 0 -175px;
	border:1px solid #dcdcdc;
}
.submenu2-1 {
	height: 25px;
	z-index:10;
	width: 300px;
	padding:5px 0;
}
.submenu2-1 a {
	padding:5px 162px 5px 10px;
	z-index:10;
	color: #000;
	font-size: 20px;
	font-family: 'circularregular';
	line-height: 55px;
}
.submenu2-1 a:hover {
	background:#2e2d7b;
	z-index:10;
	color:#fff;
}
.submenu2-2 {
	height: 25px;
	width: 300px;
	z-index:10;
	padding:5px 0;
}
.submenu2-2 a {
	padding:5px 209px 5px 10px;
	z-index:10;
	color: #000;
	font-size: 20px;
	font-family: 'circularregular';
	line-height: 55px;
}
.submenu2-2 a:hover {
	background:#2e2d7b;
	z-index:10;
	color:#fff;
}
.submenu2-3 {
	height: 25px;
	width: 300px;
	z-index:10;
	padding:5px 0;
}
.submenu2-3 a {
	padding:5px 85px 5px 10px;
	z-index:10;
	z-index:10;
	color: #000;
	font-size: 20px;
	font-family: 'circularregular';
	line-height: 55px;
}
.submenu2-3 a:hover {
	background:#2e2d7b;
	z-index:10;
	color:#fff;
}
.triangle-down3 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2e2d7b;
	margin-left: 45px;
}
.contrainerpayment {
	width: 100%;
	height: auto;
	background : #f2f2f2;
	height: 1554px;
}
.mainsitpayment {
	width: 1280;
	margin:auto;
}
.pay-site {
	width: 1248px;
	height: 750px;
	border:1px solid #e1e1e1;
	border-radius: 10px;
	background : #fff;
	margin: auto
}
.pay-contant {
	width: 1050px;
	height: auto;
	text-align:center;
	margin:20px auto;
}
.pay-contant h2 {
	font-family: 'circularregular';
	font-size: 28px;
	color: #000073;
}
.pay-contant-detail {
	width: 1050px;
	height: auto;
	margin: auto;
}
.pay-contant-detail li {
	font-size: 22px;
	font-family: 'circularregular';
	list-style: decimal;
	line-height: 30px;
	color:#000;
}
.pay-contant-detail-table {
	width: 100%;
	height: 265px;
	border:1px solid #fff;
	background: #f2f2f2;
	margin: 12px 0;
}
.pct-row1 {
	width: 100%;
	height: 69px;
	border-bottom: 1px solid #fff;
}
.pct-row2 {
	width: 100%;
	height: 96px;
	border-bottom: 1px solid #fff;
}
.pct-row3 {
	width: 100%;
	height: 97px;
}
.pct-cul1 {
	background: #2f2e7d;
	width: 151px;
	float: left;
	height: 100%;
	border-right:1px solid #fff;
	text-align: center;
}
.pct-cul1 p {
	color:#fff;
	font-size: 22px;
	font-family: 'circularregular';
	line-height: 50px;
}
.pct-cul2 {
	height: 100%;
	width: 896px;
	float: left;
}
.pct-cul2 p {
	color:#000;
	font-size: 22px;
	font-family: 'circularregular';
	margin:16px;
}
.dashed {
	width: 1250px;
	height: 26px;
	border-bottom:1px dashed #959595;
	margin:auto;
}
.blueline {
	width: 1250px;
	border-bottom:2px solid #009ced;
	height: 24px;
	margin:auto;
}
.forcus {
	width: 1250px;
	height: 213px;
	border-bottom:  1px solid #ebebeb;
	margin:auto;
	background: #f9f9f9;
}
.fc-title {
	width: 1248px;
	height: 32px;
	border:1px solid #bebebe;
	background: -webkit-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #fefefe, #f0f0f0);
}
.fc-title p {
	font-size: 20px;
	font-family: 'circularregular';
	text-indent: 10px;
	margin:7px 0;
	color:#2e2d7b;
	font-weight: bold;
}
.fc-detail-label1 {
	height: 178px;
	width: 197px;
	border-bottom:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	float: left;
}
.fc-detail-label1 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#2e2d7b;
	line-height: 36px;
}
.fc-detail-label1-row {
	height: 34px;
	width: 100%;
	border-bottom:1px solid #d0d0d0;
	border-top:1px solid #fff;
	background:#e8e8e8;
}
.fc-detail1 {
	height: 178px;
	width: 582px;
	float: left
}
.fc-detail1 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#0080c3;
	line-height: 38px;
}
.fc-detail-label2 {
	height: 178px;
	width: 197px;
	border-bottom:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	float: left;
}
.fc-detail2 {
	width: 272px;
	height: 178px;
	float: left;
}
.fc-detail2 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#0080c3;
	line-height: 38px;
}
.fc-detail-label2 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#2e2d7b;
	line-height: 36px;
}
.fc-detail-label2-rowall {
	height: 34px;
	width: 100%;
	border-bottom:1px solid #d0d0d0;
	border-top:1px solid #fff;
	background:#e8e8e8;
}
.fc-detail-text {
	height: 34px;
	width: 100%;
}
.forbank {
	width: 1250px;
	height: 212px;
	border-bottom:  1px solid #ebebeb;
	margin:auto;
	background: #f9f9f9;
}
.fb-title {
	width: 1248px;
	height: 32px;
	border:1px solid #bebebe;
	background: -webkit-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #fefefe, #f0f0f0);
}
.fb-title p {
	font-size: 20px;
	font-family: 'circularregular';
	text-indent: 10px;
	margin:7px 0;
	color:#2e2d7b;
	font-weight: bold;
}
.fb-detail-pic-row {
	height: 72px;
	width: 100%;
}
.fb-detail-pic-row img {
	width: auto;
	height: auto;
	margin:13px 10px;
}
.fb-detail-label1 {
	height: 72px;
	width: 197px;
	border-bottom:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	float: left;
}
.fb-detail-label1 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#2e2d7b;
	line-height: 36px;
}
.fb-detail-row {
	height: 34px;
	width: 100%;
}
.fb-detail-row p {
	color:#0080c3;
}
.fb-detail-row {
	height: 34px;
	width: 100%;
}
.fb-detail-row p {
	color:#0080c3;
}
.fb-detail-bank {
	height: 178px;
	width: 385px;
	float: left;
}
.fb-detail-bank p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#0080c3;
	line-height: 36px;
}
.fb-detail-label2 {
	height: 35px;
	width: 197px;
	border-bottom:1px solid #d0d0d0;
	border-right:1px solid #d0d0d0;
	float: left;
}
.fb-detail-label2 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#2e2d7b;
	line-height: 36px;
}
.fb-detail-label3 {
	height: 35px;
	width: 197px;
	float: left;
}
.fb-detail-label3 p {
	font-size:18px;
	font-family: 'circularregular';
	text-indent: 10px;
	color:#0080c3;
	line-height: 36px;
}
.payment-amount {
	width: 1248px;
	height: 150px;
	border:1px solid #bebebe;
	margin:10px auto;
	border-bottom:1px solid #e5e5e5;
}
.pma-title {
	height: 49px;
	border-bottom: 1px solid #c9c9c9;
	width: 100%;
	background: -webkit-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #fefefe, #f0f0f0);
}
.pma-title1 {
	height: 49px;
	float: left;
	width: 145px;
	border-right:1px solid #c9c9c9;
	text-align: center;
}
.pma-title1 p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-title1-long {
	height: 49px;
	float: left;
	width: 663px;
	border-right:1px solid #c9c9c9;
	text-align: center;
}
.pma-title1-long p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-title1-right {
	height: 49px;
	float: left;
	width: 145px;
	text-align: center;
}
.pma-title1-right p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-detail {
	height: 49px;
	border-bottom: 1px solid #c9c9c9;
	width: 100%;
	float: left;
	background:#fff;
}
.pma-detail1 {
	height: 49px;
	float: left;
	width: 145px;
	border-right:1px solid #c9c9c9;
	text-align: center;
}
.pma-detail1 p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-detail1-long {
	height: 49px;
	float: left;
	width: 663px;
	border-right:1px solid #c9c9c9;
	text-align: center;
}
.pma-detail1-long p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-detail1-right {
	height: 49px;
	float: left;
	width: 145px;
	text-align: center;
}
.pma-detail1-right p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-amount {
	height: 49px;
	border-bottom: 1px solid #c9c9c9;
	width: 100%;
	float: left;
	background: #fff;
}
.pma-amount1 {
	height: 49px;
	float: left;
	width: 145px;
	border-right:1px solid #c9c9c9;
	text-align: center;
}
.pma-amount1 p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-amount1-long {
	height: 49px;
	float: left;
	width: 955px;
	border-right:1px solid #c9c9c9;
	text-align: center;
}
.pma-amount1-long p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.pma-amount1-right {
	height: 49px;
	float: left;
	width: 145px;
	text-align: center;
}
.pma-amount1-right p {
	font-size:20px;
	font-family: 'circularregular';
	line-height: 50px;
	color:#000;
}
.payment-print-button {
	width: 1250px;
	height: 67px;
	margin:auto;
}
.print-button, .cancel-submit {
	background: #6580b5; /* Old browsers */
	background: -moz-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #4264a1), color-stop(100%, #4264a1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#4264a1', GradientType=0 ); /* IE6-9 */
}
.print-button:hover, .cancel-submit:hover {
	background: #6580b5; /* Old browsers */
	background: -moz-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #6580b5), color-stop(56%, #254487), color-stop(100%, #254487)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* IE10+ */
	background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #254487 56%, #254487 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6580b5', endColorstr='#254487', GradientType=0 ); /* IE6-9 */
}
.print-button {
	float: right;
	width: 168px;
	height: 30px;
	border:1px solid #2c539e;
	border-radius: 8px;
	margin:10px 0;
}
.dialog {
	display:none;
}
.dialog p {
	cursor:default;
	color:#23408f;
	font-family: 'circularregular';
	font-size:18px;
	text-align: left;
	line-height: 20px;
	width: 260px;
	float: left;
	margin-right: 20px;
}
.dialog h1 {
	cursor:default;
	font-family: 'circularregular';
	color: #23408f;
	font-size:16px;
	font-weight: 600;
	line-height:30px;
}
.history-block {
	width: 100%;
	height: 373px;
	margin:10px auto;
	float: left;
}
.his-tabs {
	padding:0 !important;
	border:0 !important;
}
ul.his-title-tabs {
	border:none;
	border-radius: 0;
	background:#f2f2f2;
}
li.his-title-tabs {
	color:#23408f!important;
	font-family: 'circularregular';
	font-size:20px;
}
.his-tabs-button {
	background:#fff;
	border-radius: 0!important;
	border-bottom:1px solid;
}
.his-tabs-button a { /* color:#23408f!important;*/
	font-family: 'circularregular';
	font-size:20px;
}
.his-tabs-button a:active {
	color:#ffffff!important;
	font-family: 'circularregular';
	background:#2f2e7d;
	font-size:20px;
}
.his-tabs-style p {
	color:#000;
	font-family: 'circularregular';
	font-size:18px;
}
.his-tabs-style {
	background: #f2f2f2 !important;
	width:1238px;
	padding:1em 5px !important;
}
.his-table-detail {
	width: 100%;
	height: 113px;
	border:1px solid #dddddd;
}
.his-title-detail {
	width: 1236px;
	height: 50px;
	border :1px solid #bebebe;
	background: #f1f1f1;
}
.his-title-detail p {
	color:#000;
	font-family: 'circularregular';
	font-size:20px;
	line-height: 50px;
}
.his-title-detail-block1 {
	width:89px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block2 {
	width:69px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block3 {
	width:264px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block4 {
	width:198px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block5 {
	width:112px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block6 {
	width:88px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block7 {
	width:97px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block8 {
	width:136px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block9 {
	width:106px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block10 {
	width:68px;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail {
	width: 1236px;
	height: 61px;
	background: #f1f1f1;
	border:1px solid #dddddd;
	border-top:0;
	background:#f8f8f8!important;
}
.his-detail p {
	font-family: 'circularregular';
	font-size:20px;
	line-height: 62px;
}
.his-detail-block1 {
	width:89px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block2 {
	width:69px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block3 {
	width:264px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block4 {
	width:198px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block5 {
	width:112px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block6 {
	width:88px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block7 {
	width:97px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block7 img {
	margin:15.25px 0;
}
.his-detail-block8 {
	width:136px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block9 {
	width:106px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block10 {
	width:68px;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-top {
	height: 30px;
	width: 100%;
	border-bottom:1px solid #dddddd;
}
.his-detail-bottom {
	height: 30px;
	width: 100%;
}
.his-detail-top p {
	line-height: 32px!important;
}
.his-detail-bottom p {
	line-height: 32px !important;
}
#color-courses {
	color: #0ec300!important;
}
#color-exam {
	color: #e30613 !important;
}
.his-title-detail-block1-1 {
	width:99px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block2-1 {
	width:100px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block3-1 {
	width:277px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block4-1 {
	width:257px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block5-1 {
	width:103px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block6-1 {
	width:88px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block7-1 {
	width:97px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block8-1 {
	width:136px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-title-detail-block10-1 {
	width:71px;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block1-1 {
	width:99px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block2-1 {
	width:100px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block3-1 {
	width:277px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block4-1 {
	width:257px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block5-1 {
	width:103px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block6-1 {
	width:88px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block7-1 {
	width:97px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block7-1 img {
	margin:15.25px 0;
}
.his-detail-block8-1 {
	width:136px;
	border-right:1px solid #dddddd;
	height:100%;
	text-align: center;
	float: left;
}
.his-detail-block10-1 {
	width:71px;
	height:100%;
	text-align: center;
	float: left;
}
.zone-bottom {
	width: 1238px;
	height: 60px;
	float: left;
	padding:30px 5px;
	margin-top:63px;
}
.his-button {
	width: 167px;
	height: 30px;
	border:1px solid #bebebe;
	border-radius: 8px;
	margin-top:28px;
	text-align: center;
	background: -webkit-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #fefefe, #f0f0f0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #fefefe, #f0f0f0);
}
.his-button p {
	font-family: 'circularregular';
	font-size:20px;
	color:#000;
	line-height: 38px;
}
.his-datetime {
	height: 30px;
	margin-top:-20px;
	text-align: center;
	float: right;
}
.his-datetime p {
	font-family: 'circularregular';
	font-size:18px;
	color:#000;
}
.select-year {
	float: right;
	margin:-35px 5px;
}
.select-from {
	float: left;
	width: 210px;
	font-family: 'circularregular';
	font-size:22px;
	color:#000;
}
.select-from select {
	width: 160px;
	height: 35px;
	font-family: 'circularregular'!important;
	font-size:20px!important;
	color:#000;
	text-indent:5px;
}
.select-to {
	float: left;
	font-family: 'circularregular';
	font-size:22px;
	color:#000;
}
.select-to select {
	width: 160px;
	height: 35px;
	font-family: 'circularregular'!important;
	font-size:20px!important;
	color:#000;
	text-indent:5px;
}
.his-triangle1 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2f2e7d;
	margin:-16px 0 10px 23px;
}
.his-triangle2 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2f2e7d;
	margin:-16px 0 10px 95px;
}
.his-triangle3 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2f2e7d;
	margin:-16px 0 10px 183px;
}
.his-triangle4 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2f2e7d;
	margin:-16px 0 10px 295px;
}
.list99 {
	margin-top: 0px;
	position:absolute;
	z-index:99;
	background-color:#FFFFFF;
	width:322px;
	border: 1px solid #dcdcdc;
}
.list99 li {
	font-family:circularregular;
	font-size:20px;
	text-align:left;
	padding-left: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	color:#000;
	background-color:#FFFFFF;
	cursor:pointer;
}
.list99 li:hover {
	background: #2e2d7b;
	color: #FFFFFF;
}
.triangle-down99 {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #2e2d7b;
	margin-left: 80px;
}
